/* Docs sample */

body{
	margin:0;
	padding:0;

}

#s_canvas{
	width: 100%;
	height: 5700px;
	background:#cad259;
	display:block;

}



.s_canvas_box_t{width: 100%;height:50px; display:block}
.s_canvas_box{margin:0 auto; width:800px; height:503px; }
