body{
	
	width:100%;
	overflow:hidden;
	padding:0px;
	 margin:0px;
	
	
}

a{ text-decoration:none;}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;

	text-align:center;
}

.page .wrap{
	height:500px;
}

.page-1-1{ background-image:url(../images/int_img2.jpg); background-position:center; background-size: auto 100%;}
.page-2-1{ background-image: url(../images/algs_bg.jpg); background-size:auto 100%; background-position:center 50px;}
/*.page-3-1{ background-image:url(../images/alhj_bg.jpg);  background-size:auto 100%; background-position:center bottom;}*/
.page-2-2{ background-color:#9261BF;}
.page-3-1{ background-image:url(../images/alkc_bg.jpg);  background-size:auto 100%; background-position:center bottom;}
/*.page-3-2{ background-color:#F3533C;}*/

.page-3-2{ background-color:#FFBF50;}
.page-4-1{ background-image:url(../images/alhd_bg.jpg);  background-size:auto 100%; background-position:center bottom;}
.page-5-1{background-image:url(../images/al_Party_bg.jpg);  background-size:auto 100%; background-position:center bottom;}
.page-6-1{
background-image:url(../images/wdal_bg.jpg);  background-size:auto 100%; background-position:center bottom;}
.page-7-1{background-image:url(../images/cwwm_aljm_bg.jpg);  background-size:auto 100%; background-position:center bottom;}
.page-8-1{ background-color:#fbfed4;}
.page-9-1{ background-color:#ffffff;}
.page-10-1{
	background-image: url(../images/alkc_bg1.jpg);
	background-size: 100% auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.page-current{
	z-index:1;
}

.page-1-1 .img_1 {
	height:auto;width:80%;
	position:absolute;
	left:10%;
	top:15%;
	
}
.page-1-1 .img_2 {
	height:auto;width:185px;
	position:absolute;
	left:50%;
	top:62%;
	margin-left:-92px;
}
.page-1-1 .img_3 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:93%;
	margin-left:-12px;
}
.page-2-1 .img_1 {
	height:auto;width:158px;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-79px;
	z-index:2;
}
.page-2-1 .img_2 {
	height:auto;width:240px;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-120px;
}
.page-2-1 .img_3 {
	height:auto;width:241px;
	position:absolute;
	left:50%;
	top:36%;
	margin-left:-120px;
}
.page-2-1 .img_4 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-2-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-2-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-2-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:8%;
	margin-left:-110px;
}
.page-2-2 .img_1 {
	height:auto;width:293px;
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-146px;
}
.page-2-2 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-130px;
}
.page-2-2 .img_3 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-2-2 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
/*.page-3-1 .img_1 {
	height:auto;width:166px;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-86px;
	z-index:2;
}
.page-3-1 .img_2 {
	height:auto;width:250px;
	position:absolute;
	left:50%;
	top:30%;
	margin-left:-125px;
}
.page-3-1 .img_3 {
	height:auto;width:172px;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-55px;
}
.page-3-1 .img_4 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-3-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-3-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:43%;
	margin-left:-124px;
}
.page-3-2 .img_1 {
	height:auto;width:296px;
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-148px;
}
.page-3-2 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-130px;
}
.page-3-2 .img_3 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-3-2 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}*/
.page-3-1 .img_1 {
	height:auto;width:162px;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-84px;
	z-index:2;
}
.page-3-1 .img_2 {
	height:auto;width:230px;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-115px;
}
.page-3-1 .img_3 {
	height:auto;width:161px;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-80px;
}
.page-3-1 .img_4 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-3-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-3-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_7 {
	height:auto;width:271px;
	position:absolute;
	left:50%;
	top:33%;
	margin-left:-135px;
}
.page-3-1 .img_8 {
	height:auto;width:169px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-84px;
}
.page-3-2 .img_1 {
	height:auto;width:298px;
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-149px;
}
.page-3-2 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-130px;
}
.page-3-2 .img_3 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-3-2 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-4-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-4-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-4-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

.page-5-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-5-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-5-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

.page-6-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-6-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-6-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-7-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-7-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-7-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}


.page-8-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-8-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-7-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}


.page-9-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-9-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
.page-9-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}







.algs_start{ position:absolute; bottom:0px; right:0px; width:30%; height:auto; }
.algs_img{ position:absolute; left:10%; bottom:20%; width:80%; height:auto; }
.algs_start img{ width:100%; height:auto;}


.nav{ width:100%; height:45px; line-height:45px; position:absolute; top:0px;}
.nav a{ float:left; display:block;}
.nav .ico{ width:12%; background-color:#c4cf4e; color:#fff; height:45px; vertical-align:middle;font-size:12px;}

.nav .ico1{ width:34%; background-color:#c4cf4e; color:#fff; height:45px; background-image:url(../images/nav_bg.jpg); font-size:12px;}
.nav .ico1_a{ display:inline-block; vertical-align:middle; width:20px; margin-top:7px;}
.nav .ico2_a{ display:inline-block; vertical-align:middle; width:20px; margin-top:7px;}
.nav .ico3_a{ display:inline-block; vertical-align:middle; width:20px; margin-top:7px;}


.nav .ico2{ width:12%; background-color:#c4cf4e; color:#fff; height:45px;background-image:url(../images/nav_bg.jpg);font-size:12px;}

.nav .ico3{ width:12%; background-color:#c4cf4e; color:#fff; height:45px;background-image:url(../images/nav_bg.jpg);font-size:12px;}
.nav .ico4{ width:30%; background-color:#c4cf4e; color:#fff; height:45px;background-image:url(../images/nav_bg.jpg);font-size:12px;}
.nav .ico4_a{ display:inline-block; vertical-align:middle; width:20px; margin-top:7px;}





/*爱乐课程*/
.alck_con{
	width:96%; padding-left:2%; height:auto; font-size:12px; color:#161616; margin-top:50px; 
	}
.alck_con p{ font-size:12px; color:#161616; line-height:20px; text-align:left;} 
.alck_con_01{ width:96%; margin-left:2%;
    border-radius:10px;  /*IE9, Opera新版本支持*/
    -moz-border-radius:10px;  /*Firefox*/
    -webkit-border-radius:10px;
	background-image: url(../images/alkc_bg0.png);
	height:140px; 
	margin-top:10px;
	color:#353535;
	}
.alck_con_02{ position:absolute; width:100%; bottom:0px; left:0px; z-index:10;  margin-bottom:40px;}
.alck_con_02 a{ float:left; display:block; width:27%; margin-left:5%; background-color:#e5e5e5; font-size:14px; text-align:center; height:40px; line-height:40px; color:#686868; margin-bottom:10px;  border-radius:40px;  
    -moz-border-radius:40px;
    -webkit-border-radius:40px;}
	
.alck_con_02 .a1{ background-color:#c8dc42; color:#617200;}
.alck_con_03{ width:96%; margin-left:2%; margin-top:60px; font-size:12px; color:#2f2f2f; line-height:20px; text-align:left;}
.alck_con_03 h2{ margin:0px;}

	
	
	
/*爱乐环境*/
.alhj_con{ position:absolute; bottom:50px; left:0px; width:100%;}
.alhj_con a{ float:left; display:block; float:left; width:40%; margin-left:6%; background-image: url(../images/alkc_bg0.png);border-radius:10px;  /*IE9, Opera新版本支持*/
    -moz-border-radius:10px;  /*Firefox*/
    -webkit-border-radius:10px;
	height:auto; font-size:14px; color:#4a4a4a; line-height:20px;}
.alhj_con_img{ width:94%; margin-left:3%; float:left; display:block; margin-top:3%; height:auto;}
.alhj_con_img img{border-radius:10px;  /*IE9, Opera新版本支持*/
    -moz-border-radius:10px;  /*Firefox*/
    -webkit-border-radius:10px; width:100%;}
.alhj_con img{border-radius:10px;  /*IE9, Opera新版本支持*/
    -moz-border-radius:10px;  /*Firefox*/
    -webkit-border-radius:10px; width:100%;}
		
	

/*爱乐活动*/
.alhd_con{ width:161px; position:absolute; height:151px; top:58%; margin-top:-80px; margin-left:-80px; left:50%; }
.alhd_con a{ float:left; display: block;}

/*爱乐party*/
.al_party_logo{ width:100%; text-align:left; margin-top:55px;}
.al_party_logo img{ width:30%; margin-left:5%; height:auto;}
.al_party_con{ font-size:12px; color:#2b2b2b; width:100%; text-align:left; line-height:20px; margin-top:5px;}
.al_party_con p{ display:block; float:left; width:60%; margin-left:5%;}

.al_party_con1{ position:absolute; bottom:50px; width:100%; left:0px; text-align:center;}
.al_party_con2{ margin:0px auto; width:300px;}
.al_party_con2 a{ float:left; display:inline-block; line-height:25px; color:#2f2f2f; width:80px; margin-left:19px; }
.al_party_con2 a img{ width:80px; height:auto;}




/*我的爱乐*/
.wdal_con{ position:absolute; width:100%; bottom:0px; left:0px; z-index:10;  margin-bottom:40px;}
.wdal_con a{ float:left; display:block; width:27%; margin-left:5%; background-color:#008db2; font-size:14px; text-align:center; height:40px; line-height:40px; color:#fff; margin-bottom:10px;  border-radius:40px;  
    -moz-border-radius:40px;
    -webkit-border-radius:40px;}
.wdal_con .a1{ background-color:#3ebdde;}


/*成为我们-加盟爱乐*/
.cwwm_jmal_con{ width:90%; font-size:12px; line-height:20px; color:#545454; margin-top:60px; margin-left:5%; text-align:left;}
.cwwm_jmal_con p{line-height:14px;}
.cwwm_jmal_con h1{ font-size:14px; line-height:24px;}
.cwwm_jmal_con1{ position:absolute; width:100%; bottom:0px; left:0px; z-index:10;  margin-bottom:40px; background-color:#f0f89c; padding-top:10px;}
.cwwm_jmal_con1 a{ float:left; display:block; width:27%; margin-left:5%; background-color:#ccd942; font-size:14px; text-align:center; height:40px; line-height:40px; color:#fff; margin-bottom:10px;  border-radius:40px;  
    -moz-border-radius:40px;
    -webkit-border-radius:40px;}
.cwwm_jmal_con1 .a1{ background-color:#ffb400;}

/*成为我们-招聘*/
.cwwm_zp{ width:96%; margin-left:2%; margin-top:55px;}
.cwwm_zp_1{
	width: 100%;
	background-image: url(../images/wcwm_zp_bg.jpg);
	background-size: 100% 70px;
	
	background-repeat: no-repeat;
	height:70px;
	font-size:12px;
}
.cwwm_zp_2{ float:right; width:75%; height:30px; margin-top:26px; color:#fff;}




/* questions */
.UI-bubble{display:inline-block;width:23px;height:23px;overflow:hidden; background-image:url(../images/cwwm_zp_ico1.jpg); background-size:23px auto;}
.UI-ask{display:inline-block;width:23px;height:23px;overflow:hidden;background:url(../images/cwwm_zp_ico.jpg);background-size:23px auto;}

#questions{width:100%; text-align:left; font-size:12px; margin-top:20px;}
#questions ul{ padding:0px; margin:0px;}
#questions li h5 .UI-ask,#questions li h5 .UI-bubble{position:absolute;left:20px;top:9px; }
#questions li{border-bottom:1px solid #e7e7e7;vertical-align:bottom; background-color:#f2f2f2;}
#questions li h5{height:40px;position:relative;color:#666;font-size:12px;cursor:pointer;line-height:40px;height:40px;overflow:hidden;padding:0 0 0 60px; margin:0px;}
#questions li .foldContent{padding:10px 26px;border-top:1px dashed #e2e2e2;line-height:24px;background:#FFF;color:#888; display:none;}


/* 最新活动预告 */
.zxhdyg_con{ width:100%; margin-top:60px; float:left; position:relative;}

.rollBox{width:346px;overflow:hidden;margin:0 auto;}
.rollBox .Cont{width:200px;overflow:hidden;margin:0 auto; float:left;}
.rollBox .img1{ float:left; display: block; cursor: pointer; margin-right:20px; margin-top:65px; margin-left:10px;}
.rollBox .img2{ float:left; display: block;cursor: pointer;margin-top:65px; margin-left:20px;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{
width:200px;float:left;text-align:center; height:250px; background-color:#ffedd4;
border-radius:10px;  
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

.rollBox .Cont .pic_a1{ width:200px; margin-left:5px; background-color:#fff;  margin-top:5px;}
.rollBox .Cont .pic_a1 img{ height:auto;}

.rollBox .Cont .pic_a{ font-size:14px; line-height:40px; color:#000; margin-top:5px; margin:0px;}

.rollBox .Cont .pic_b{  font-size:12px; color:#242424; line-height:20px; text-align:center; width:240px; display:block;  height:60px; overflow: hidden; margin:0px;}

.rollBox .Cont .pic_c{ margin-top:10px; width:260px; display:block; font-size:12px; color:#242424; border-top:1px dotted #ffffff; padding-top:10px; }
.rollBox .Cont .pic_color{ color:#ff7e00; font-style:normal;}
.rollBox .Cont .pic_d{}


*+html .rollBox .Cont .pic{width:130px;float:left;text-align:center;padding-right:30px;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}




.zxhdyg_con1{ width:100%; margin-top:60px; position:absolute; left:0px; bottom:10px; left:0px;}
.zxhdyg_con1 a{ float:left; display:block; width:35%; margin-left:10%;}

/* 我要报名 */
.wybm_con{ width:100%; margin-top:80px; position:absolute; color:#2b2b2b; font-size:14px; }
.wybm_con .wenben{ width:65%; border:1px solid #dad8d8; height:30px; line-height:30px; padding-left:4%;}
.wybm_con .wenben33{ width:65%; height:80px;}




/*往期活动回顾 */
.wqhdhg_con{
	width:100%; margin-top:80px; position:absolute;
	
	}


.wqhdhg_con ul{ padding:0px; margin:0px;}
.wqhdhg_con ul li{ float:left; display:block; width:44%; margin-left:3%; margin-right:3%;}
.wqhdhg_con_1{ float:left; width:94%; padding:2%; border:1px solid #e6e6e6;}
.wqhdhg_con_2{ font-size:13px;line-height:22px; color:#353535; display:block; float:left; margin:0px auto; padding-top:10px;}
.wqhdhg_con_3{ font-size:12px; color:#353535;display:block; float:left; margin:0px auto; margin-top:5px; line-height:20px;}



/*爱乐专享-商品信息*/
.alzx_spxx_con{ width:95%; margin-top:50px; text-align:left; margin-left:5%;
}
.alzx_spxx_con ul{ padding:0px; margin:0px;}
.alzx_spxx_con ul li{ float:left; display:block; width:100%; border-bottom:1px dashed #d6d6d6; margin-top:15px;}
.alzx_spxx_con ul li .img01{ float:left; width:50%; height:auto;}
.alzx_spxx_con ul li .img01 img{ width:100%;}
.alzx_spxx_con ul li .con1{ float:left; width:48%; margin-left:2%;}
.alzx_spxx_con ul li .con1 h2{ font-size:14px; font-weight:normal; margin:0px; line-height:20px; color:#353535;}
.alzx_spxx_con ul li .con1_1{ font-size:12px; margin:0px; margin-top:5px; color:#747474;}
.alzx_spxx_con ul li .con1_anniu{ float:left; display:block; margin-top:5px;}

/*爱乐专享-商品信息详细*/
.alzx_spxxxx{ width:100%;  margin-top:45px; text-align:left;}
/*手机banner轮播*/
.swipe{width:100%;overflow:hidden;position:relative;}
.swipe ul{
	-webkit-transition:left 800ms ease-in 0;
	-moz-transition:left 800ms ease-in 0;
	-o-transition:left 800ms ease-in 0;
	-ms-transition:left 800ms ease-in 0;
	transition:left 800ms ease-in 0;
	padding:0px; margin:0px;
}
.swipe ul li{ width:100%;}
.swipe #pagenavi{position:absolute;left:0;bottom:30px;text-align:center;width:100%; }
.swipe #pagenavi a{width:9px; height:9px; line-height:99em; background:#e4c2ba; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; margin:0 4px; overflow:hidden; cursor:pointer; display:inline-block; *display:inline; *zoom:1; position:relative; }
.swipe #pagenavi a.active{background:#ff9000;  position:relative;}

.alzx_spxxxx1{ width:96%; margin-left:2%;}
.alzx_spxxxx1 h2{ font-size:14px; line-height:30px; font-weight:normal;}
.alzx_spxxxx1 ul{ padding:0px; margin:0px;}
.alzx_spxxxx1 ul li{ float:left; display:block; width:100%; line-height:30px; color:#747474;}
.alzx_spxxxx1 ul li .sp_con{ float:left; display:block; line-height:30px; width:20%; font-size:12px; }
.alzx_spxxxx1 ul li .sp_con1{ float:left; display:block; font-size:12px; width:80%;}

.alzx_spxxxx2{ width:96%; margin-left:2%; border-top:1px dashed #d6d6d6; font-size:12px; line-height:22px; text-align:center; padding-top:5px;}


/*爱乐专享-明星老师*/
.mxls{
	width:100%; margin-top:80px;
	 text-align:left;
	}
.mxls_con{ width:320px; margin:0px auto; margin-bottom:20px;}
.mxls_con_left{ float:left; width:100px; height:133px;}
.mxls_con_left img{ width:100px; height:133px;}
.mxls_con_right{ float:left; width:218px; height:129px; border:2px solid #f1f1f1; border-left:none;}
.mxls_con_right_a{ float:left; display:block; width:50px; margin:0px; height:30px; line-height:30px; border-bottom:2px solid #e2e2e2; margin-left:10px;}
.mxls_con_right_b{  float:left; display:block; width:200px; margin:0px; margin-left:10px; font-size:12px; margin-top:10px; height:58px;}
.mxls_con_right_c{ width:220px; height:30px; float:left;}
.mxls_con_right_c1{ float:left; display:block; height:29px; line-height:29px; width:64px; text-align:center; font-size:12px; color:#303030; border-right:1px solid #e4e4e4; border-top:1px solid #e4e4e4;}



.alkc_sp{ width:100%; height:100%; position:fixed; z-index:300px; 
            position: fixed; 
            top: 0%; 
            left: 0%; 
            width: 100%; 
            height: 100%; background-image:url(../images/mxls_bg1.png);
          }
		  
.alkc_sp_con{ position:absolute; width:280px; height:160px; left:50%; top:50%; margin-left:-150px; margin-top:-90px; padding:10px; background-image:url(../images/mxls_bg.png); z-index:9999; border:2px solid #9e9e9e; border-radius:10px;  /*IE9, Opera新版本支持*/-moz-border-radius:10px;  /*Firefox*/
    -webkit-border-radius:10px; font-size:14px;}
.sp_guanbi{ float:right;}
.alkc_sp_con .wenben{ width:160px; border:1px solid #d1d1d1; height:30px; line-height:30px; font-size:14px;border-radius:5px;  /*IE9, Opera新版本支持*/-moz-border-radius:5px;  /*Firefox*/
-webkit-border-radius:5px;}


#alkc_sp_da{ display:none; z-index:9999;}
/*爱乐专享-明细宝宝*/

.mxbb{ width:100%; margin-top:60px; text-align:left;}
.mxbb1{ width:96%; margin-left:2%; position:relative;}
.mxbb1_bg{ position:absolute; left:-10px; top:-10px; z-index:10; }
.mxbb2{ width:100%; margin-top:10px;}






/*爱乐招聘*/
.alzp_an{ position:absolute; bottom:50px; width:100%; text-align:center; }
.alzp_an a{ display:inline-block; width:26%; margin-left:3%;}
.alzp_con1{ font-size:12px; color:#646464; line-height:20px; margin-top:10px;}
.alzp_con2{font-size:12px; color:#646464; line-height:20px; margin-top:10px; float:left; width:100%;}
.alzp_con2 h2{ font-size:14px; font-weight:normal;}
.alzp_con2 ul{ padding:0px; margin:0px; width:100%; display:block;}
.alzp_con2 ul li{ float:left; display:block;  line-height:22px; padding-left:20px; background-image:url(../images/zpxq_ico.jpg); background-position: left center; background-repeat: no-repeat; width:90%;}

.alzp_con3{ width:100%; float:left; text-align:center; margin-top:20px; }
.alzp_con3 a{ display:inline-block; width:25%;}


/*家长俱乐部*/
.ja_party_con1{ position:absolute; bottom:50px; width:100%; left:0px; text-align:center;
}
.ja_party_con2{ margin:0px auto; width:360px;}
.ja_party_con2 a{ float:left; display:inline-block; line-height:25px; color:#2f2f2f; width:70px; margin-left:19px; }
.ja_party_con2 a img{ width:70px; height:auto;}


/*联系我们*/
.lxwm{ width:346px; margin:0px auto; background-image:url(../images/alkc_bg0.png); 
border-radius:10px;  /*IE9, Opera新版本支持*/-moz-border-radius:10px;  /*Firefox*/
-webkit-border-radius:10px;}

.lxwm_con{ width:346px; text-align:left;}
.lxwm_con h2{ font-size:14px; color:#242424; line-height:30px; padding-left:10px;}
.lxwm_con1{ height:30px;}
.lxwm_con1 .wenben{ width:65%; border:1px solid #dad8d8; height:25px; line-height:25px; padding-left:4%; margin-left:10px; font-size:14px;}
.lxwm_con2{ padding-left:10px; text-align:left;}
.lxwm_con2 h2{ font-size:14px; color:#ff7800; line-height:30px; margin:0px;}
.lxwm_con2_1{ font-size:12px; line-height:22px; margin:0px;}



/*明星宝宝*/
#content {
	width: 100%;
	margin:0px auto;	
	
}

.content11{ width:41%; margin-left:3%; margin-right:3%; float:left; display:block; border:1px solid #ffcc00; padding:1%;}
.content12{ width:100%; height:24px; background-color:#ffedd4; font-size:12px; line-height:24px;}
.content12_a{
	width: 33%;
	height: 24px;
	line-height: 24px;
	float: left;
	background-image: url(../images/mxbb_ico1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:18px;
}
.content12_a1{
	width: 33%;
	height: 24px;
	line-height: 24px;
	float: left;
	
	padding-left:18px;
}

.content12_b{ float:left; display:block;width: 33%; margin:0px; text-align:center;}
.content12_c{ float:left; width:20%; display:block; margin:0px; padding-top:3px; text-align:right;}
.content13{ font-size:14px; text-align:center; line-height:22px; color:#2c2c2c;}
.content14{ font-size:12px; color:#5b5b5b; line-height:20px; margin:0px; padding:0px;}




#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

* html #fancybox-loading {	/* IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('fancybox.png');
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 1100;
	display: none;
}

* html #fancybox-overlay {	/* IE6 */
	position: absolute;
	width: 100%; height:800px;

}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-image:url(../images/fancy_close.png);
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox_error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding: 10px 0;
	text-align: center;
	color: #333;
}

.fancybox-title-outside {
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.fancybox-title-over {
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

#fancybox-title-wrap {
	display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background-image: url('fancybox.png');
	background-position: -40px -90px;
	background-repeat: no-repeat;
}

#fancybox-title-main {
	font-weight: bold;
	line-height: 29px;
	background-image: url('fancybox-x.png');
	background-position: 0px -40px;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background-image: url('fancybox.png');
	background-position: -55px -90px;
	background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancy-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancy-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
}

#fancy-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -162px;
}

#fancy-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
	background-position: -20px 0px;
}

#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -182px; 
}

#fancy-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
	background-position: 0px -20px;
}

#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -142px;
}

#fancy-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
}

#fancy-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -122px;
}

/* IE */

#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/*成长足迹*/
/*成长足迹*/
.dis{ display:none;}
.al_czzj_con{ font-size:12px; color:#2b2b2b; width:100%; text-align:left; line-height:20px; margin-top:5px;}
.al_czzj_con ul{ padding:0px; margin:0px;}
.al_czzj_con ul li{ text-align:center; float: left;font-size:14px;color:#4f4f4f;  padding:0px; margin:0px; width:44%; margin-left:4%; display:block; margin-bottom:20px;}
.al_czzj_con ul li a{ text-align:center;   margin-top:10px; float:left; display:block; text-align:center; width:100%;}

.czzj_sc{ float:left; width:100%; text-align:center;}

/* 查找课程 */
.czkc_con{ width:100%; margin-top:60px; position:absolute; color:#2b2b2b; font-size:14px; text-align:left; }
.czkc_con h2{ font-size:18px; color:#252525; text-align:center; font-weight:normal;}
.czkc_con_top{ height:45px; border:1px solid #6cd8a8; line-height:45px; width:244px; margin:0px auto; background-image:url(../images/czkc_top_bg.jpg); border-radius: 15px; overflow: hidden;}
.czkc_con_top a{ float:left; display:block; width:80px; text-align:center; font-size:16px; color:#fff; border-right:1px solid #0a9b6b; border-left:1px solid #92f7d5;}
.czkc_con_top a:hover{ background-image:url(../images/czkc_top_bg1.jpg);}
.czkc_con_top .a1{ background-image:url(../images/czkc_top_bg1.jpg);}
.czkc_con_a{ width:80%; margin-left:10%; margin-top:20px;}
.czkc_con_a_1{ float:left; width:100%;}
.czkc_con_a p{ float:left; width:100%; margin-top:10px; font-size:14px; line-height:22px; color:#252525;}
.czkc_con_a_2{ text-align:center; float:left; width:100%;}
.czkc_con_a_2 a{ display:inline-block;}

/* 查找身边爱乐 */
.czsbal_top{ margin-top:10px;}
.czsbal{ width:100%; float:left;}
.czsbal ul{ padding:0px; margin:0px; border-top:1px solid #eeecec;}
.czsbal ul li{ float:left; padding:0px; margin:0px; width:100%; padding-top:10px; 

padding-bottom:10px; background-color:#f2f2f2; border-bottom:1px solid #eeecec;}
.czsbal ul li .czsbal_con{ width:30%; margin-left:10%; float:left;}
.czsbal ul li .czsbal_con1{ width:40%; margin-left:5%; float:left; text-align:left;}
.czsbal ul li .czsbal_con1 h2{
	font-size: 16px;
	font-weight:normal;
	color: #ff9600;
	text-decoration: underline; margin:0px auto;
}
.czsbal ul li .czsbal_con2{ margin:0px auto; font-size:12px; margin-top:5px; 

color:#747474; line-height:22px;}






/*2015/1/29*/
.alck_yykc{ width:96%; margin-left:2%; margin-top:20px; font-size:12px; color:#2f2f2f; line-height:20px; text-align:left; margin-bottom:40px;}
.alck_yykc h2{ font-size:14px; font-weight:normal; margin:0px;}
.alck_yykc .yykc_ico{ display:inline-block; width:38px; margin-right:10px; height: 42px; vertical-align:middle; background-image:url(../images/s_yinyue1.png); background-size:38px 42px;}


