@charset "utf-8";
/* CSS Document */
body{background: #FFFFFF; margin:0 auto;  }

.xjmal_ayay{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	padding-bottom: 12px;
	min-width:1200px;
height:4829px;

	
}
/*首页*/
.xluo_diye{ width:100%; margin:0px auto;background:#76f0d6;}

.newstory_top{ width:100%;min-width:1120px; height:442px;margin:0 auto; display:block;background: url(http://www.ilovegym.cn/templates/default/images/shade00.png) repeat-x; margin-top: -110px;}
.newstory_top_main{width:1000px;height:442px;margin:0 auto; display:block; }
.newstory_middle1{ width:100%; height:470px;background:#fefcc3; }
.newstory_middle1_main{  width:1000px;height:470px;margin:0 auto; display:block;background: url(http://www.ilovegym.cn/templates/default/images/new_story/new_story_000002.png) no-repeat; }
.newstory_middle1_main p{width: 43%;font-size: 14px;color: #47aa95;padding-top: 105px;padding-left: 60px;line-height: 28px;}



.newstory_middle2{ width:100%; height:216px; background:#fefcc3;}
.newstory_middle2_main{ width:1000px;height:216px;margin:0 auto; display:block; }
.newstory_middle3{ width:100%; height:478px;background:#50ffd6; }
.newstory_middle3_main{  width:1000px;height:476px;margin:0 auto; display:block; }
.newstory_middle4{ width:100%; height:1065px;background:#fef870;background: url(http://www.ilovegym.cn/templates/default/images/new_story/new_story_05bg.png)  repeat-x; }
.newstory_middle4_main{  width:1000px;height:1065px;margin:0 auto; display:block; }
.newstory_middle5{ width:100%; height:512px;background:#e7fffd; }
.newstory_middle5_main{  width:1000px;height:512px;margin:0 auto;}
.newstory_middle6{ width:100%; height:643px;background:#e7fffd; }
.newstory_middle6_main{  width:1000px;height:643px;margin:0 auto; display:block; }
.newstory_middle7{ width:100%; height:448px;background:#fffc94; }
.newstory_middle7_main{  width:1000px;height:448px;margin:0 auto; display:block; background: url(http://www.ilovegym.cn/templates/default/images/new_story/new_story_008.png) center top no-repeat; }
.newstory_middle7_main a img{ width:168px;display:block; height:37px; padding: 260px 0 0 661px }

.newstory_middle1214{ width:100%; height:554px;background:#fcc36a; }
.newstory_middle1214_main{  width:1000px;height:554px;margin:0 auto; display:block; }


/*.xluo_diye_a{ width:1020px; height:1546px; background:;display:block; margin:0 auto; }
.xluo_diye_a_main{ width:918px; height:1455px;display:block; margin:0 auto;}*/