body,ul,li,from,p,h1,h2,h3,h4,h5,img{margin:0; padding:0; font-family:'Î¢ÈíÑÅºÚ'; font-size:12px;}
body{ }
li{ list-style:none;}
a{text-decoration:none; color:#999999;}
img{ border:0;}
a:hover{ color:#ff8a00;}




/*===========°®ÀÖ¿Î³Ì============*/
.kc_beija{ overflow:hidden; min-width:1200px;}
/*ÓÒ*/
.ke_right{ width:695px; float:left; z-index:10; position:relative;}
.kc_youxi{ margin-top:5px; margin-bottom:5px;font-size:14px; color:#646464; line-height:28px}
.kc_youxi p{ font-size:14px; color:#646464; line-height:28px; text-indent:2em;text-justify:inter-ideograph; text-align:Justify;}
.kc_kecjs{ margin-top:20px;}
.kc_kecjs p{ font-size:14px; color:#646464; line-height:28px; text-justify:inter-ideograph; text-align:Justify;}
.kc_kecjs p.kc_kcma{ font-size:18px; color:#252525; margin-top:20px;}
.kc_kecjs p.kc_imgx{ margin-top:-6px;}
.kc_beijc{ height:313px; background:url(../images/s_ckbji.png) no-repeat center; padding-left: 20px; padding-right:42px;}
.kc_beijc p{font-size:14px; color:#646464; line-height:28px; text-justify:inter-ideograph; text-align:Justify;}
.kc_beijc p.kc_kcma{ font-size:18px; color:#252525; padding-top:40px; }



/*×ó*/ 
.ke_left{ width:327px; float:right;} 
.kc_lewt{ position:relative; left:-10px; width:404px;  overflow:hidden;}
.kc_lewt9a{ top:-20px;}
.kc_tshipin{ width:327px; height:212px; background:url(../images/s_tshioin.png) no-repeat; padding-top:80px; margin-top:-90px;}
.kc_shipin{ width:274px; height:158px; margin:0 auto; }
.kc_fenxian{ margin-top:10px; color:#707070;}


/*×ó²à*/
.ai_boox_left{ width:326px; float:left; /*height:590px;*/}
.ai_zx{ height:145px; background:url(../images/mf_bsj.png) bottom no-repeat; margin-top:15px;}
.ai_zx ul li{float:left;}
.ai_zx ul li.ai_zxzu{ padding-top:2px;}
.ai_zx ul li.ai_zijm{ margin-left:14px; margin-right:25px; padding-top:13px;}

.ai_mfzu{ background:url(../images/mf_bssd.png) repeat-y;  padding:0 15px; padding-bottom:10px;}
.ai_mfzxdh{ height:30px; padding:15px 0;}
.ai_shzis{ font-size:14px; color:#7d7d7d; padding-left:5px;}
.ai_mfzxdh .ai_mfahz{width:93px; height:25px; background:url(../images/jietiank.png) no-repeat; border:0; padding:0 8px; line-height:25px; font-size:12px; color:#666;}
.ai_shzis1 img{ display:block; margin-top:2px !important; _margin-top:-22px;}
.ai_shzis2 img{display:block; margin-top:0 !important; _margin-top:-27px;}

.ai_qiehuan{ height:43px; }
.ai_qiehuan a{ display:block; width:100%; height:43px; float:left; text-align:center; line-height:43px; font-size:18px; color:#FFF;background:url(../images/beijin1g.png) no-repeat;}
.ai_qiehuan a:hover{ color:#fff;}

.ai_shtai{ margin-top:10px; /*height:375px;*/}
.ai_shtai tr td input{ color:#8e8e8e; font-size:12px;}
.ai_shtai tr td{ font-size:14px; color:#8e8e8e;}
.ai_shtai tr td .ai_bbmc{width:69px; height:22px; font-size:12px; color:#8e8e8e;}
.ai_shtai tr td .ai_bbnl{width:69px; height:26px; font-size:12px; color:#8e8e8e;}
.ai_shtai tr td .ai_bbxb{margin-top:4px;}
.ai_shtai tr td .ai_shjh{width:220px; height:25px;}
.ai_shtai tr td .ai_shjh1{width:223px; height:26px; font-size:12px; color:#8e8e8e; line-height:26px;}
.ai_shtai tr td .ai_bbmc1{width:79px; height:22px; font-size:12px; color:#8e8e8e;}
.ai_shtai tr td.ai_yanz img{ margin-top:2px;}
.ai_shtai tr td a.ai_shek{ color:#b1bf18;}
.ai_shtai tr td.na_mfqia{ padding-top:10px;}
.ai_shtai tr td.na_mfqia1{ padding-top:50px;}
.ai_beuak{ height:10px; background:url(../images/beuak.png) no-repeat;}
.ai_nian{ width:70px; height:25px;}
.dis{ display:none;}


/**2014-10-22**/
.jcsj_tpxq_con{ float:left; width:695px; height:394px;}









