body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;font-family:'Î¢ÈíÑÅºÚ';}

table{table-layout:fixed;border-collapse:collapse}
section,article,aside,header,footer,nav,dialog,figure{display:block}
.clearfix:after{content:"\20";display:block;height:0;line-height:0;font-size:0;clear:both}
body,button,input,select,textarea,td,th{color:#333;font:12px/1.5 tahoma,arial,\5b8b\4f53}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}ul,ol{list-style:none}a{text-decoration:none;color:#06C}
a:hover{color:#06C}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0 none}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;font-family:'Î¢ÈíÑÅºÚ'; }
input:focus{outline:none}
body,ul,li,from,p,h1,h2,h3,h4,h5,img{margin:0; padding:0; font-family:'Î¢ÈíÑÅºÚ'; font-size:12px;}
li{ list-style:none;}
a{text-decoration:none; color:#666;}
img{ border:0;}
a:hover{color:#ff8a00;}

/*--Ê×Ò³  sy_top--*/
.sy_top{ padding-top:10px; height:80px; background:url(../images/st_bj.jpg); min-width:1195px;}
.sy_top1{ width:1195px; margin:0 auto; height:80px;}
.sy_top2{ height:20px;  margin:0 auto; overflow:hidden;}
.sy_top2 ul li{float:right; color:#999999; line-height:15px; margin:0 2px;}
.sy_top2 ul li.ai_shu{line-height:15px !important; _line-height:15px;font-weight:100; color:#7f7f7f; font-family:'Î¢ÈíÑÅºÚ';}
.sy_top2 ul li.ai_danhua{ font-size:15px; color:#ff8a00; font-family: Arial; font-weight:bold; padding-left:50px;}
.sy_top2 ul li.ai_shu1{line-height:12px; color:#bebebe;margin:0 2px;}
.sy_top2 ul li.ai_sousuo{padding-top:1px !important; _padding-top:2px; background:url(../images/sousuo.png) no-repeat; width:13px; height:13px;}
.sy_top2 ul li.ai_sousuo1{line-height:14px;}
.sy_top2 ul li.ai_yiwen{font-family: Arial; line-height:15px;}

/*--sy_nav--*/
.sy_nav{ margin-top:25px; float:right; width:780px;}
.sy_nav ul li{float:left; margin-left:33px !important;_margin-left:29px;}

/*--sy_logo--*/
.sy_logo{ width:269px; height:107px; position:relative; top:-20px; z-index:999;}
.sy_logo a{width:269px; height:107px; background:url(../images/logo.png) no-repeat; display:block;}
.sy_booxs{ background:url(../images/st_bj.jpg);}


/* hd-main */
.hd-main{height:60px;z-index:15;}
.f-icon{}
.hd-main{padding:0 5px;height:49px;min-width:800px;border-bottom:0}
.hd-main .has-pulldown{cursor:pointer;position:relative;*z-index:10000}
.hd-main .pulldown{position:absolute;cursor:default;display:none;top:0px;left:0; z-index:99999;}
.hd-main .pulldown .arrow{*margin-bottom:-1px;_margin-bottom:0;height:0;width:0;font-size:0;line-height:0;border-width:7px;border-style:solid;border-color:transparent transparent #F6F6F9 transparent;_filter:chroma(color=tomato);_border-color:tomato tomato #F6F6F9 tomato;position:relative;display:block;left:20px;z-index:2}
.hd-main .pulldown .content{background:url(../images/beijiw.png) repeat-x;position:relative;z-index:999; width:100%; min-width:1195px;}

.hd-main .logo{background-image:url('../images/logo.png');background-repeat:no-repeat;display:block;height:36px;width:175px;float:left;margin-left:10px;background-position:0 0;margin-top:5px;display:inline}


.hd-main .navs .def-nav,.hd-main .navs .pulldown-nav,.hd-main .navs .separate{display:block;float:left;height:20px;text-align:center;}
.hd-main .navs .def-nav .app-url{left:0;width:100%;top:90px}
.hd-main .navs .def-nav .pulldown-canvas-url{width:575px;height:109px}
.hd-main .navs .def-nav .app-url .arrow{left:140px}
.hd-main .navs .app-url .content{padding:30px 0 0 22px;height:305px; padding-bottom:10px;}

.hd-main .navs .app-url .li{cursor:pointer;padding-top:8px;width:193px;height:233px;border-radius:3px;display:block;float:left;text-align:center}

.hd-main .navs .app-url .li .icon{margin:0 auto;width:193px;height:199px;display:block;}

.hd-main .navs .app-url .li .text{height:30px;display:block;font:16px "Microsoft YaHei"; margin-top:5px;}
.hd-main .navs .separate{margin:0;height:48px;width:2px;}
.hd-main .navs .pulldown-nav{position:relative}

.hd-main .navs .pulldown-nav:hover .f-icon,.hd-main .navs .pulldown-nav:active .f-icon{position:absolute;display:block;right:11px;top:18px;height:12px;width:12px;font-size:0;}
.hd-main .navs .current,.hd-main .navs .current .pulldown-nav{display:inline-block;height:49px;}
.hd-main .navs .current:hover{color:#ECECEC}
.hd-main .navs .current .hover{background:url(../images/alkech1.png) no-repeat;}


.def-nav1{ margin-left:31px;}

.d3e{ width:100%; height:1800px; background:#666;}

.naeuye1{ width:58px; background:url(../images/shouye.png) no-repeat;}
.naeuye1:hover{ width:58px; background:url(../images/shouye1.png) no-repeat;}
.naeuye2{ width:75px; background:url(../images/algushi.png) no-repeat;}
.naeuye2:hover{width:75px; background:url(../images/algushi1.png) no-repeat}
.naeuye3{ width:92px; background:url(../images/alkech.png) no-repeat;}
.naeuye3:hover{ width:92px; background:url(../images/alkech1.png) no-repeat;}
.naeuye4{ width:99px; background:url(../images/alparty.png) no-repeat;}
.naeuye4:hover{ width:99px; background:url(../images/alparty1.png) no-repeat;}
.naeuye5{ width:76px; background:url(../images/alshyin.png) no-repeat;}
.naeuye5:hover{ width:76px; background:url(../images/alshyin1.png) no-repeat;}
.naeuye6{ width:85px; background:url(../images/wdyyue.png) no-repeat;}
.naeuye6:hover{ width:85px; background:url(../images/wdyyue1.png) no-repeat;}
.naeuye7{ width:76px; background:url(../images/cwnwu.png) no-repeat;}
.naeuye7:hover{ width:76px; background:url(../images/cwnwu1.png) no-repeat;}
.suen_sbea{ width:1165px; margin:0 auto;}
.hd-main .navs .li{ border-left:1px dashed #dedede; text-decoration:none;}
.hd-main .navs .ciauy{border:0;}

.sbe_sneoa{ height:37px; background:url(../images/beijiw.png) repeat-x top; }
.sbe_sneoa1{height:37px; background:url(../images/beijiw1.png) repeat-x top;}
.navs { height:30px;}





















