<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="author" content="www.fractal-technology.com">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>公司简介</title>
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/fun.js"></script>
<script src="js/global.js"></script>
<script src="js/plus/jquery.mScroll.js"></script>
<script src="js/plus/sHover.min.js"></script>
</head>

<body>
<div class="nav_float"><span class="m1"></span>
  <ul>
    <li class="a1"><a href="#"><img alt="" src="image/png15.png">免费试听</a></li>
    <li class="a2"><a href="#"><img alt="" src="image/png16.png">课程咨询</a></li>
    <li class="a3"><a href="#"><img alt="" src="image/png17.png">加盟咨询</a></li>
    <li class="a4"><a href="#"><img alt="" src="image/png18.png">关注微信</a></li>
    <li class="a5"><a href="#"><img alt="" src="image/png19.png">查找爱乐</a></li>
    <li class="gotop"><a href="#"><img alt="" src="image/png20.png">返回顶部</a></li>
  </ul><span class="m2"></span>
</div>
<div class="head">
  <div class="block">爱乐乐享 爱乐国际早教欢迎您！<a href="#" class="map">查找身边的爱乐</a> </div>
</div>
<div class="header">
  <div class="nav_bg"></div>
  <div class="nav_bg2"></div>
  <div class="block"> <a href="#" class="logo"></a>
    <div class="tel">400-688-2011</div>
    <div class="search">
      <div class="box">
        <div class="inner"><input type="search" class="kw" placeholder="请输入关键词"><input type="button" class="ok"></div>
      </div>
    </div>
    <div class="nav_main">
      <div class="item"> <a href="#" class="a">首页</a> </div>
      <div class="item"> <a href="#" class="a">爱乐乐享</a> </div>
      <div class="item"> <a href="#" class="a">爱乐课程</a> </div>
      <div class="item"> <a href="#" class="a">爱乐动态</a> </div>
      <div class="item"> <a href="#" class="a">招商加盟</a> </div>
      <div class="item"> <a href="#" class="a">爱乐商城</a> </div>
      <div class="item"> <a href="#" class="a">联系我们</a> </div>
    </div>
    <div class="nav_child">
      <div class="item"></div>
      <div class="item"> <a href="#">公司简介</a> <a href="#">教学理念</a> <a href="#">资质荣誉</a> <a href="#">课程分类</a> </div>
      <div class="item"></div>
      <div class="item"> <a href="#">最新动态</a> <a href="#">优惠活动</a> <a href="#">精彩回眸</a> <a href="#">精彩瞬间</a> </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"> <a href="#">联系方式</a> <a href="#">加入我们</a> <a href="#">门店查询</a> <a href="#">免费试听</a> </div>
    </div>
    <div class="nav_child2">
      <div class="item"><a href="#"><img alt="" src="image/png3.png"><span>英语课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png4.png"><span>艺术课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png5.png"><span>厨趣课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png6.png"><span>水育课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png7.png"><span>Kindermusik</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png8.png"><span>体适能</span></a></div>
    </div>
  </div>
</div>
<div class="about1">
  <div class="pic"><img alt="" src="image/pic6.jpg"></div>
  <div class="text">
    <div class="block">
      <div class="tit">
        <div class="d1"></div>
        <div class="d2">
          <h1>爱乐乐享</h1>
          <h2>最最好的早教机构</h2>
        </div>
      </div>   
      <div class="cont">
        <p>2009 年秋天，秉承着改善今天的孩子，改善明天的世界之理念, 爱乐I LoveGym® 进入了中国，并引进了Kindermusik® 这一全球最富盛名的儿童早期音乐教育课程。Kindermusik® 的历史可以追溯到上个世纪60 年代的原西德地区，是音乐，运动，英语早教的全球领跑者。 Kindermusik® 有近半个世纪的发展历史， 教育网络遍及全世界70 多个国家，是全球最受父母信赖的早教品牌。99% 参加过Kindermusik® 课程的家长都会向朋友大力推荐。Kindermusik® 为0-7 岁的儿童及家长提供全英文专业系列课程，多次获得《美国教师推荐奖》,《 全美亲子中心最佳认可奖》,《全美家庭教育精品奖》,《美国育儿媒体奖》,《美国创意儿童杂志奖》等。</p>
      </div> 
    </div>
  </div>
</div>
<div class="about2">
  <div class="block">
    <div class="title">
      <h1>ilovegym</h1>
      <h2>爱乐早教</h2>      
    </div>
    <div class="text">
      <p>今天的爱乐，伴随超过百万家庭共同见证了孩子的成长。百万孩子的卓越人生开始于此，并将美好的欢乐永存心底。<br>爱乐致力于让家长和孩子们每次上课都能充分享受其中快乐的同时，从适龄性极强的课程中增强肌肉力量、锻炼全身平衡、推动全脑协调、提高敏捷度、<br>培养音乐潜能、发挥语言能力、激发艺术创造力等方面的成长。</p>
    </div>
    <div class="logos clearfix">
      <div class="d1"><img alt="" src="image/png26.png"></div>
      <div class="d2"><img alt="" src="image/png27.png"></div>
    </div>
  </div>
</div>
<div class="about3">
  <div class="block">
    <div class="pic"><span class="eye"></span></div>
    <div class="text">
      <div class="left">
        <p>姓名： GYMMY</p>
        <p>中文名：吉米</p>
        <p>性别：男孩纸</p>
        <p>生日：6月1日</p>
        <p>星座：双子座</p>
        <p>血型：O型</p>
        <p>身高：好多香蕉摞起来一起那么高</p>
        <p>体重：好多香蕉捆起来一起那么重</p>
        <p>家庭成员：GYMMY一家</p>
        <p>性格：开朗活泼，温柔热心，调皮可爱，喜欢交朋友</p>
        <p>特长：擅长各种运动、会唱好多国家的儿歌、制作看起来像艺术品的食物、连续吃好多香蕉也吃不腻</p>
        <p>最喜欢的事物：听童话故事，收集小汽车玩具</p>
        <p>最喜欢的食物：香蕉派</p>
      </div>
      <div class="right">
        <p>GYMMY是一个看似顽皮，实际上很懂事的小男孩。求知欲旺盛，对任何事情都要问个为什么，最喜欢交到新朋友，非常珍视友情。他是小伙伴们的开心果，大家都喜欢和他一起玩。他喜欢运动，但是有时候会偷懒赖床。GYMMY最擅长用稀奇古怪的食材搞艺术创作，还有用艺术的手法来做菜。GYMMY最珍贵的宝物就是小伙伴，跟小伙伴在一起不管做什么都是最开心的事情。</p>
        <div class="tel">
          <h3>加盟电话</h3>
          <h4>400-688-2011</h4>
        </div>
      </div>
    </div>
    <div class="btns"><a href="#"><span><img alt="" src="image/ico6.png">在线课程咨询</span></a><a href="#"><span><img alt="" src="image/ico7.png">免费预约试听</span></a><i></i></div>
  </div>
</div>
<div class="about4">
  <div class="bg"></div>
  <div class="block">
    <div class="title">
      <h1>ilovegym</h1>
      <h2>爱乐乐享</h2>
      <p>高端早教第一品牌</p>
    </div>
    <div class="list clearfix">
      <div class="item">
        <div class="ico c1"><em></em><span></span><img alt="" src="image/icon5_1.png"></div>
        <h3><img alt="" src="image/icon6_1.png"></h3>
        <h4>高端早教</h4>
        <p>独树一帜的高端早教理念</p>
      </div>
      <div class="item">
        <div class="ico c2"><em></em><span></span><img alt="" src="image/icon5_2.png"></div>
        <h3><img alt="" src="image/icon6_2.png"></h3>
        <h4>空间&amp;环境</h4>
        <p>业界前沿的空间与环境设计理念</p>
      </div>
      <div class="item">
        <div class="ico c3"><em></em><span></span><img alt="" src="image/icon5_3.png"></div>
        <h3><img alt="" src="image/icon6_3.png"></h3>
        <h4>关爱&amp;健康</h4>
        <p>令宝宝安心<br>家长放心的呵护与关爱</p>
      </div>
      <div class="item">
        <div class="ico c4"><em></em><span></span><img alt="" src="image/icon5_4.png"></div>
        <h3><img alt="" src="image/icon6_4.png"></h3>
        <h4>全球领先课程</h4>
        <p>全球领先的早教课程体系</p>
      </div>
    </div>
  </div>
</div>
<div class="about5">
  <div class="block">
    <img alt="" src="image/png32.png" class="pic">
    <div class="title">
      <h1>Teaching Ideas</h1>
      <h2>爱乐教学理念</h2>
      <p>通过正确引导中国家长的育儿方式来改善今天的孩子，改善明天的世界！</p>
    </div>
    <div class="content clearfix">
      <div class="left">
        <div class="inner">
          <h3>我们自始至终推崇的教育哲学是鼓励孩子展现自我创造力，激发他们自己的思想，并用自己的方式对问题做出回应。</h3>
          <div class="text">
            <p>每一位爱乐的指导师引导孩子在课堂中开发各项潜能的同时，家长的积极参与有效地给孩子带来了安全感和认同感。帮助孩子树立良好的自信心、自尊心、同理心。这也正是爱乐的使命：通过正确引导中国家长的育儿方式来改善今天的孩子，改善明天的世界！</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="inner">
          <h3>爱乐拥有超过1000 位指导师组成的训练有素的教师团队以及众多获奖的课程</h3>
          <div class="text">
            <p>自主研发和海外引进结合的科学早教体系集合了体适能、音乐、艺术、英语、厨趣、水育拓展六大系列课程，综合开发0-6 岁宝宝八大潜能，如此全面的早期教育体系源自于我们对教育事业的专注和执着。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about6">
  <div class="block">
    <div class="title">
      <h1>Teaching Ideas</h1>
      <h2>爱乐资质荣誉</h2>
      <p>荣誉只代表过去，我们的巅峰在前方</p>
    </div>
    <div class="focus">
      <div class="frame">
        <div class="child">
          <div class="item"><span><img alt="" src="image/pic7.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic8.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic7.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic8.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic8.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic7.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic8.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
          <div class="item"><span><img alt="" src="image/pic7.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
        </div>
        <div class="child">
          <div class="item"><span><img alt="" src="image/pic7.jpg"></span>
            <div class="mask"><i><img alt="" src="image/ico5.png"></i>
              <h3>最受家长信赖十大品牌少儿教育机构</h3>
              <p>2015-05-16</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nav"><i></i><i></i></div>
    </div>
  </div>
</div>
<div class="nav_bottom">
  <div class="pic"></div>
  <div class="block">
    <div class="title">
      <h1>More ilovegym</h1>
      <h2>更多爱乐</h2>
      <p>了解更多关于爱乐的内容</p>
    </div>
    <div class="list">
      <div class="item"><a href="#">
        <div class="ico1"><i></i></div>
        <h3>教育理念</h3>
        <p>Educational Ideas</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico2"><i></i></div>
        <h3>门店查询</h3>
        <p>Queries stores</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico3"><i></i></div>
        <h3>免费试听</h3>
        <p>Free Trial</p>
        <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <div class="block">
      <ul>
        <li class="t"><a href="#">爱乐乐享 </a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">教学理念</a></li>
        <li><a href="#">资质荣誉</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐课程</a></li>
        <li><a href="#">体适能</a></li>
        <li><a href="#">艺术课程</a></li>
        <li><a href="#">厨趣课程</a></li>
        <li><a href="#">英语课程</a></li>
        <li><a href="#">水育课程</a></li>
        <li><a href="#">Kindermusik</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">课程环境</a></li>
        <li><a href="#">教学器材</a></li>
        <li><a href="#">学习环境</a></li>
        <li><a href="#">宝宝园地</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐动态</a></li>
        <li><a href="#">最新动态</a></li>
        <li><a href="#">优惠活动</a></li>
        <li><a href="#">精彩回眸</a></li>
        <li><a href="#">精彩瞬间</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">招商加盟</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">合作申请</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#"> 联系我们</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">门店查询</a></li>
        <li><a href="#">免费试听</a></li>
      </ul>
      <ul>
        <li class="t c"><a href="#">爱乐在线</a></li>
        <li> <a href="#"><img alt="" src="image/footer_logo1.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo2.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo3.png" /></a> </li>
      </ul>
      <div class="consult">
        <div class="box"> <a href="#" class="first"> <img alt="" src="image/footer_logo4.png" /> </a> <a href="#"> <img alt="" src="image/footer_logo5.png" /> </a> </div>
        <h2>400-688-2011</h2>
      </div>
      <div class="ewm"> <img alt="" src="image/footer_logo6.png" /> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="block">
      <div class="copy">Copyright Reserved © 2016 爱乐国际 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京IPC备10032270号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.ilovegym.com</div>
      <div class="fotlogo"> <a href="#" class="a1"></a> <a href="#" class="a2"></a> <a href="#" class="a3"></a> <a href="#" class="a4"></a> </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(function(){
	$(".about1").addClass("show");
});


$(window).scroll(function(){
	if(scrollact(".about2",200)){
		if(!$(".about2").hasClass("show")){
			$(".about2").addClass("show");
		}
	}
	if(scrollact(".about3",200)){
		if(!$(".about3").hasClass("show")){
			$(".about3").addClass("show");
		}
	}
	if(scrollact(".about4",100)){
		if(!$(".about4").hasClass("show")){
			$(".about4").addClass("show");
			$(".about4 .list .item").each(function(index, element) {
				var t=$(this);
                setTimeout(function(){
					t.addClass("act");
				},500*index+500);
            });
		}
	}
	if(scrollact(".about5",200)){
		if(!$(".about5").hasClass("show")){
			$(".about5").addClass("show");
		}
	}
});



$(".focus .child").each(function(index, element) {
    $(this).find(".item:nth-child(4n-3)").addClass("first");
	$(this).find(".item").addClass("shover");
});
$('.focus .frame').mScroll({
		     auto : 0,                   //自动开始
		direction : "h",                 //滚动方向,h横向,v纵向
		    dtype : "left",              //正反方向
		  isfocus : 0,                   //是否作为焦点图
		  minsize : 1,                   //最小数量
		    speed : 500,                 //滚动速度
		   easing : "",                  //缓冲类型
			delay : 5000,                //自动滚动间隔
			  nav : ".focus .nav i",                //导航按钮
        scrollnav : 0,                   //导航滚动
    nav_direction : "h",                 //导航方向,h横向,v纵向
			arrow : 1,                   //是否反转
			cycle : 1,                   //是否循环
		mousestop : 1,                   //鼠标划入停止
	   mousewheel : 0,                     //开启滚轮事件
	        touch : 0                     //开启触摸事件
});
var sh=new sHover("shover","mask");

if(!isCss3("transition")){
	$(".about2").addClass("show");
	$(".about3").addClass("show");
	$(".about4").addClass("show");
	$(".about5").addClass("show");
	$(".about4 .list .item").addClass("act");
}
</script>