<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="author" content="www.fractal-technology.com">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>申请成功</title>
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/fun.js"></script>
<script src="js/global.js"></script>
<script src="js/plus/jquery.mScroll.js"></script>
<script src="js/plus/sHover.min.js"></script>
</head>

<body>
<div class="nav_float"><span class="m1"></span>
  <ul>
    <li class="a1"><a href="#"><img alt="" src="image/png15.png">免费试听</a></li>
    <li class="a2"><a href="#"><img alt="" src="image/png16.png">课程咨询</a></li>
    <li class="a3"><a href="#"><img alt="" src="image/png17.png">加盟咨询</a></li>
    <li class="a4"><a href="#"><img alt="" src="image/png18.png">关注微信</a></li>
    <li class="a5"><a href="#"><img alt="" src="image/png19.png">查找爱乐</a></li>
    <li class="gotop"><a href="#"><img alt="" src="image/png20.png">返回顶部</a></li>
  </ul><span class="m2"></span>
</div>
<div class="head">
  <div class="block">爱乐乐享 爱乐国际早教欢迎您！<a href="#" class="map">查找身边的爱乐</a> </div>
</div>
<div class="header">
  <div class="nav_bg"></div>
  <div class="nav_bg2"></div>
  <div class="block"> <a href="#" class="logo"></a>
    <div class="tel">400-688-2011</div>
    <div class="search">
      <div class="box">
        <div class="inner"><input type="search" class="kw" placeholder="请输入关键词"><input type="button" class="ok"></div>
      </div>
    </div>
    <div class="nav_main">
      <div class="item"> <a href="#" class="a">首页</a> </div>
      <div class="item"> <a href="#" class="a">爱乐乐享</a> </div>
      <div class="item"> <a href="#" class="a">爱乐课程</a> </div>
      <div class="item"> <a href="#" class="a">爱乐动态</a> </div>
      <div class="item"> <a href="#" class="a">招商加盟</a> </div>
      <div class="item"> <a href="#" class="a">爱乐商城</a> </div>
      <div class="item"> <a href="#" class="a">联系我们</a> </div>
    </div>
    <div class="nav_child">
      <div class="item"></div>
      <div class="item"> <a href="#">公司简介</a> <a href="#">教学理念</a> <a href="#">资质荣誉</a> <a href="#">课程分类</a> </div>
      <div class="item"></div>
      <div class="item"> <a href="#">最新动态</a> <a href="#">优惠活动</a> <a href="#">精彩回眸</a> <a href="#">精彩瞬间</a> </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"> <a href="#">联系方式</a> <a href="#">加入我们</a> <a href="#">门店查询</a> <a href="#">免费试听</a> </div>
    </div>
    <div class="nav_child2">
      <div class="item"><a href="#"><img alt="" src="image/png3.png"><span>英语课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png4.png"><span>艺术课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png5.png"><span>厨趣课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png6.png"><span>水育课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png7.png"><span>Kindermusik</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png8.png"><span>体适能</span></a></div>
    </div>
  </div>
</div>
<div class="apply1"><img src="image/png41.png" class="pic">
  <div class="block">
    <div class="left">
      <div class="title">
        <h1>Join us</h1>
        <h2>招商加盟</h2>
        <p>和爱乐一起，为孩子的未来撑起一片天空！</p>
      </div>
      <div class="part0">
        <div class="inner">
          <h1>恭喜您！您的加盟申请已经成功</h1>
          <h2>爱乐会在1-3个工作日内与您取得联系请保持手机畅通~<br>爱乐时刻欢迎您的加盟！</h2>
        </div>
      </div>
      <div class="part1" style="margin-top:15px;">
        <div class="inner">
          <h1>爱乐早教<strong>ILOVEGYM</strong></h1>
          <h2>伴随着音乐运动，伴随着娱乐成长！这就是爱乐国际早教全球最受欢迎的儿童教育机构！</h2>
          <ul class="clearfix">
            <li class="ico1">近半个世纪历史权威幼儿音乐课程体系</li>
            <li class="ico2">获伊顿公学认可世界三大拼读课程之首</li>
            <li class="ico3">全球知名顶级品牌教学设施及课程教具</li>
          </ul>
          <div class="b">
            <h3>400-688-2011</h3>
            <div class="btn"><a href="#"><span>招商加盟咨询</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="apply2">
  <div class="block">
    <div class="title">
      <h1>course</h1>
      <h2>乐享课程</h2>
      <p>全球领先的早教课程体系</p>
    </div>
    <div class="class_list clearfix"><span class="c"></span>
      <div class="inner">
        <div class="item"><a href="#"><img alt="" src="image/png7.png">
          <div class="txt">
            <h3>Kindermusik</h3>
            <p>全球最富盛名的儿童早期音乐教育课程</p>
          </div></a>
        </div>
        <div class="item"><a href="#"><img alt="" src="image/png8.png">
          <div class="txt">
            <h3>体适能</h3>
            <p>为每一个孩子奠定成功<br>人生的第一步</p>
          </div></a>
        </div>
        <div class="item"><a href="#"><img alt="" src="image/png4.png">
          <div class="txt">
            <h3>艺术课程</h3>
            <p>帮助孩子们激发无限的<br>创想力</p>
          </div></a>
        </div>
        <div class="item"><a href="#"><img alt="" src="image/png5.png">
          <div class="txt">
            <h3>厨趣课程</h3>
            <p>专注于激发孩子们的学习兴趣、食品认知能力、动手能力、生活自理能力</p>
          </div></a>
        </div>
        <div class="item"><a href="#"><img alt="" src="image/png3.png">
          <div class="txt">
            <h3>英语课程</h3>
            <p>帮助孩子们高效学习<br>第二语言</p>
          </div></a>
        </div>
        <div class="item"><a href="#"><img alt="" src="image/png6.png">
          <div class="txt">
            <h3>水育课程</h3>
            <p>最大限度地释放宝宝<br>好玩水的天性吧</p>
          </div></a>
        </div>
      </div>
      <img alt="" src="image/png9.png" class="i1"><img alt="" src="image/png10.png" class="i2"><img alt="" src="image/png11.png" class="i3">
    </div>
  </div>
</div>
<div class="apply3">
  <div class="map">
    <div id="container"></div>    
  </div>
  <div class="panel">
    <div class="inner">
      <div class="text">
        <h3>爱乐国际早教中心</h3>
        <ul>
          <li class="ico1">400-668-2011</li>
          <li class="ico2">ilovegymchina@ilovegym.cn</li>
          <li class="ico3">北京市朝阳北路龙湖长楹<br>天街3层爱乐乐享龙湖中心</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="nav_bottom">
  <div class="pic"></div>
  <div class="block">
    <div class="title">
      <h1>More ilovegym</h1>
      <h2>更多爱乐</h2>
      <p>了解更多关于爱乐的内容</p>
    </div>
    <div class="list">
      <div class="item"><a href="#">
        <div class="ico1"><i></i></div>
        <h3>教育理念</h3>
        <p>Educational Ideas</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico2"><i></i></div>
        <h3>门店查询</h3>
        <p>Queries stores</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico3"><i></i></div>
        <h3>免费试听</h3>
        <p>Free Trial</p>
        <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <div class="block">
      <ul>
        <li class="t"><a href="#">爱乐乐享 </a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">教学理念</a></li>
        <li><a href="#">资质荣誉</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐课程</a></li>
        <li><a href="#">体适能</a></li>
        <li><a href="#">艺术课程</a></li>
        <li><a href="#">厨趣课程</a></li>
        <li><a href="#">英语课程</a></li>
        <li><a href="#">水育课程</a></li>
        <li><a href="#">Kindermusik</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">课程环境</a></li>
        <li><a href="#">教学器材</a></li>
        <li><a href="#">学习环境</a></li>
        <li><a href="#">宝宝园地</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐动态</a></li>
        <li><a href="#">最新动态</a></li>
        <li><a href="#">优惠活动</a></li>
        <li><a href="#">精彩回眸</a></li>
        <li><a href="#">精彩瞬间</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">招商加盟</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">合作申请</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#"> 联系我们</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">门店查询</a></li>
        <li><a href="#">免费试听</a></li>
      </ul>
      <ul>
        <li class="t c"><a href="#">爱乐在线</a></li>
        <li> <a href="#"><img alt="" src="image/footer_logo1.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo2.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo3.png" /></a> </li>
      </ul>
      <div class="consult">
        <div class="box"> <a href="#" class="first"> <img alt="" src="image/footer_logo4.png" /> </a> <a href="#"> <img alt="" src="image/footer_logo5.png" /> </a> </div>
        <h2>400-688-2011</h2>
      </div>
      <div class="ewm"> <img alt="" src="image/footer_logo6.png" /> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="block">
      <div class="copy">Copyright Reserved © 2016 爱乐国际 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京IPC备10032270号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.ilovegym.com</div>
      <div class="fotlogo"> <a href="#" class="a1"></a> <a href="#" class="a2"></a> <a href="#" class="a3"></a> <a href="#" class="a4"></a> </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(function(){
	$(".apply1").addClass("show");
});

$(".checkbox span").click(function(){
	$(this).siblings().removeClass("ckd");
	$(this).addClass("ckd");
});
$(".select").hover(
	function(){
		$(this).find("ul").show();
	},
	function(){
		$(this).find("ul").hide();
	}
);
$(".select li").click(function(){
	$(this).parent().siblings("input").val($(this).text());
	$(this).parent().hide();
});

$(window).scroll(function(){
	if(scrollact(".apply2",200)){
		if(!$(".apply2").hasClass("show")){
			$(".apply2").addClass("show");
		}
	}
	if(scrollact(".apply3",200)){
		if(!$(".apply3").hasClass("show")){
			$(".apply3").addClass("show");
		}
	}
});



$(".class_list .item").hover(
	function(){
		$(".class_list .c").css("left",$(this).index()*198+7).removeClass("show");
		$(".class_list .c").addClass("show");
	},
	function(){
		$(".class_list .c").removeClass("show");
	}
);



$(".focus .child").each(function(index, element) {
    $(this).find(".item:nth-child(4n-3)").addClass("first");
	$(this).find(".item").addClass("shover");
});
$('.focus .frame').mScroll({
		     auto : 0,                   //自动开始
		direction : "h",                 //滚动方向,h横向,v纵向
		    dtype : "left",              //正反方向
		  isfocus : 0,                   //是否作为焦点图
		  minsize : 1,                   //最小数量
		    speed : 500,                 //滚动速度
		   easing : "",                  //缓冲类型
			delay : 5000,                //自动滚动间隔
			  nav : ".focus .nav i",                //导航按钮
        scrollnav : 0,                   //导航滚动
    nav_direction : "h",                 //导航方向,h横向,v纵向
			arrow : 1,                   //是否反转
			cycle : 1,                   //是否循环
		mousestop : 1,                   //鼠标划入停止
	   mousewheel : 0,                     //开启滚轮事件
	        touch : 0                     //开启触摸事件
});
var sh=new sHover("shover","mask");

if(!isCss3("transition")){
	
}

</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8d6c8b8f3749aed6b1aff3aad6f40e37"></script>
<script type="text/javascript"> 
var map = new BMap.Map("container");
var point = new BMap.Point(116.609448,39.931129);
map.centerAndZoom(point, 20);
map.panTo(new BMap.Point(116.608448,39.931129)); 
var iconImg = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(23,25),{imageOffset: new BMap.Size(-46,-21),infoWindowOffset:new BMap.Size(12+5,1),offset:new BMap.Size(9,12)});
var marker = new BMap.Marker(point,{icon:iconImg});        // 创建标注
map.addOverlay(marker);
var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
map.addControl(top_left_navigation); 

var opts = {    
	width : 250,     // 信息窗口宽度    
	height: 100,     // 信息窗口高度    
	title : "Hello",  // 信息窗口标题
	offset: new BMap.Size(5, -20), 
	enableAutoPan:true,
	enableCloseOnClick:true
}    
//var infoWindow = new BMap.InfoWindow("World", opts);// 创建信息窗口对象    
marker.addEventListener("click",function(){// 打开信息窗口
	marker.openInfoWindow(infoWindow);
});

map.setMapStyle({
  styleJson:[
          {
                    "featureType": "land",
                    "elementType": "geometry.fill",
                    "stylers": {
                              "color": "#44ac91"
                    }
          },
          {
                    "featureType": "manmade",
                    "elementType": "geometry.fill",
                    "stylers": {
                              "color": "#44ac91"
                    }
          },
          {
                    "featureType": "building",
                    "elementType": "geometry.fill",
                    "stylers": {
                              "color": "#44ac91"
                    }
          }
	]
});

</script>