<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="author" content="www.fractal-technology.com">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>课程分类</title>
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/fun.js"></script>
<script src="js/global.js"></script>
<script src="js/plus/jquery.mChange.js"></script>
</head>

<body>
<div class="nav_float"><span class="m1"></span>
  <ul>
    <li class="a1"><a href="#"><img alt="" src="image/png15.png">免费试听</a></li>
    <li class="a2"><a href="#"><img alt="" src="image/png16.png">课程咨询</a></li>
    <li class="a3"><a href="#"><img alt="" src="image/png17.png">加盟咨询</a></li>
    <li class="a4"><a href="#"><img alt="" src="image/png18.png">关注微信</a></li>
    <li class="a5"><a href="#"><img alt="" src="image/png19.png">查找爱乐</a></li>
    <li class="gotop"><a href="#"><img alt="" src="image/png20.png">返回顶部</a></li>
  </ul><span class="m2"></span>
</div>
<div class="head">
  <div class="block">爱乐乐享 爱乐国际早教欢迎您！<a href="#" class="map">查找身边的爱乐</a> </div>
</div>
<div class="header">
  <div class="nav_bg"></div>
  <div class="nav_bg2"></div>
  <div class="block"> <a href="#" class="logo"></a>
    <div class="tel">400-688-2011</div>
    <div class="search">
      <div class="box">
        <div class="inner"><input type="search" class="kw" placeholder="请输入关键词"><input type="button" class="ok"></div>
      </div>
    </div>
    <div class="nav_main">
      <div class="item"> <a href="#" class="a">首页</a> </div>
      <div class="item"> <a href="#" class="a">爱乐乐享</a> </div>
      <div class="item"> <a href="#" class="a">爱乐课程</a> </div>
      <div class="item"> <a href="#" class="a">爱乐动态</a> </div>
      <div class="item"> <a href="#" class="a">招商加盟</a> </div>
      <div class="item"> <a href="#" class="a">爱乐商城</a> </div>
      <div class="item"> <a href="#" class="a">联系我们</a> </div>
    </div>
    <div class="nav_child">
      <div class="item"></div>
      <div class="item"> <a href="#">公司简介</a> <a href="#">教学理念</a> <a href="#">资质荣誉</a> <a href="#">课程分类</a> </div>
      <div class="item"></div>
      <div class="item"> <a href="#">最新动态</a> <a href="#">优惠活动</a> <a href="#">精彩回眸</a> <a href="#">精彩瞬间</a> </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"> <a href="#">联系方式</a> <a href="#">加入我们</a> <a href="#">门店查询</a> <a href="#">免费试听</a> </div>
    </div>
    <div class="nav_child2">
      <div class="item"><a href="#"><img alt="" src="image/png3.png"><span>英语课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png4.png"><span>艺术课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png5.png"><span>厨趣课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png6.png"><span>水育课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png7.png"><span>Kindermusik</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png8.png"><span>体适能</span></a></div>
    </div>
  </div>
</div>
<div class="classify1">
  <div class="block">
    <div class="pic"></div>
    <div class="text">
      <h1>water gym</h1>
      <h2>乐享课程</h2>
      <h3>全球领先的早教课程体系</h3>
    </div>
  </div>
</div>
<div class="classify2">
  <div class="block">
    <div class="div1">
      <div class="text">
        <div class="inner">
          <div class="title t1">
            <h2>全球最富盛名</h2>
            <h3>儿童早期音乐教育课程</h3>
          </div>  
          <p>Kindermusik® 是全球拥有近半个世纪历史享负盛名的权威儿童音乐教育体系<br>
拥有著名的专家团队，众多的著作权和音乐版权，同时拥有品质精良的宝宝教具及乐器
保证了上课过程中的安全性及音效的美妙感。</p>
		  <div class="img" style="left:214px;top:388px;"><img alt="" src="image/pic58.png"></div>
          <a class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic50.jpg"></div>
    </div>
    <div class="div2">
      <div class="text">
        <div class="inner">
          <div class="title">
            <h1>fitness fun</h1>
            <h2>体适能</h2>
            <h3>为每一个孩子奠定成功人生的第一步</h3>
          </div>  
          <p>乐享体适能课程是众多国际专家基于0-6 岁孩子的体能<br>
感官、社交、人格发育的科学规律研发设置的，使用伦敦奥运会体操设备商Gymnova®
量身打造的Baby Gym 专业教具</p>
		  <div class="img" style="left:220px;top:335px;"><img alt="" src="image/pic59.png"></div>
          <a style="top:520px;" class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic51.jpg"></div>
    </div>
    <div class="div1">
      <div class="text">
        <div class="inner">
          <div class="title">
            <h1>art</h1>
            <h2>艺术课程</h2>
            <h3>帮助孩子们激发无限的创想力</h3>
          </div>  
          <p>乐享体适能课程是众多国际专家基于0-6 岁孩子的体能<br>
感官、社交、人格发育的科学规律研发设置的，使用伦敦奥运会体操设备商Gymnova®
量身打造的Baby Gym 专业教具</p>
		  <div class="img" style="left:171px;top:346px;"><img alt="" src="image/pic60.png"></div>
          <a style="top:520px;" class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic52.jpg"></div>
    </div>
    <div class="div2">
      <div class="text">
        <div class="inner">
          <div class="title" style="margin-top:94px;">
            <h1>nutritious<br>cooking fun</h1>
            <h2>厨趣课程</h2>
            <h3>专注于激发孩子们<br>学习兴趣、食品认知能力、动手能力、生活自理能力</h3>
          </div>  
          <p>爱乐的厨趣课程是艺术课程的生活延展，以真实的食材为媒介<br>
融合健康饮食营养、食品知识大全和世界小美食制作的内容，专注于激发孩子们的
学习兴趣、食品认知能力、动手能力、生活自理能力。</p>
		  <div class="img" style="left:230px;top:383px;"><img alt="" src="image/pic61.png"></div>
          <a class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic53.jpg"></div>
    </div>
    <div class="div1">
      <div class="text">
        <div class="inner">
          <div class="title">
            <h1>letterland</h1>
            <h2>英语课程</h2>
            <h3>帮助孩子们高效学习第二语</h3>
          </div>  
          <p>科学研究证明0-8 岁是语言学习的最佳阶段<br>
为了能够让孩子们从小就掌握最自然、最科学、最轻松的英语习得方法，爱乐国际
早教采用母语学习的方式来帮助孩子们高效学习第二语言</p>
		  <div class="img" style="left:218px;top:340px;"><img alt="" src="image/pic62.png"></div>
          <a style="top:520px;" class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic54.jpg"></div>
    </div>
    <div class="div2">
      <div class="text">
        <div class="inner">
          <div class="title" style="margin-top:145px;">
            <h1>water gym</h1>
            <h2>水育课程</h2>
            <h3>最大限度地释放宝宝好玩水的天性吧</h3>
          </div>  
          <p>爱乐独有的水育课程是集专业、安全、卫生<br>
科学为一体的婴幼儿水上育儿馆，课程专为0-2 岁的婴幼儿提供水上育儿、游泳，抚触
戏水等项目，温和而自然地促进婴幼儿视觉、温觉、触觉，平衡感发展</p>
		  <div class="img" style="left:228px;top:366px;"><img alt="" src="image/pic63.png"></div>
          <a style="top:520px;" class="btn" href="#">查看课程详细</a>
        </div>
      </div>
      <div class="pic"><img alt="" src="image/pic55.jpg"></div>
    </div>
  </div>
</div>
<div class="classify3">
  <div class="block">
    <div class="title">
      <h1>water gym</h1>
      <h2>课程环境</h2>
      <h3>给您的孩子一个舒适安全的学习环境</h3>
    </div>
    <div class="focus">
      <div class="kid"><img src="image/pic56.png"></div>
      <a class="arrow_l" href="javascript:;"></a>
      <a class="arrow_r" href="javascript:;"></a>
      <div class="frame">
        <div class="child">
          <div class="pic"><img src="image/pic57.jpg"></div>
          <div class="text">
            <p>使用伦敦奥运会体操设备商Gymnova®量身打造的Baby Gym 专业教具</p>
          </div>
        </div>
        <div class="child">
          <div class="pic"><img src="image/pic57.jpg"></div>
          <div class="text">
            <p>使用伦敦奥运会体操设备商Gymnova®量身打造的Baby Gym 专业教具2</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav_bottom">
  <div class="pic"></div>
  <div class="block">
    <div class="title">
      <h1>More ilovegym</h1>
      <h2>更多爱乐</h2>
      <p>了解更多关于爱乐的内容</p>
    </div>
    <div class="list">
      <div class="item"><a href="#">
        <div class="ico1"><i></i></div>
        <h3>教育理念</h3>
        <p>Educational Ideas</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico2"><i></i></div>
        <h3>门店查询</h3>
        <p>Queries stores</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico3"><i></i></div>
        <h3>免费试听</h3>
        <p>Free Trial</p>
        <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <div class="block">
      <ul>
        <li class="t"><a href="#">爱乐乐享 </a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">教学理念</a></li>
        <li><a href="#">资质荣誉</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐课程</a></li>
        <li><a href="#">体适能</a></li>
        <li><a href="#">艺术课程</a></li>
        <li><a href="#">厨趣课程</a></li>
        <li><a href="#">英语课程</a></li>
        <li><a href="#">水育课程</a></li>
        <li><a href="#">Kindermusik</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">课程环境</a></li>
        <li><a href="#">教学器材</a></li>
        <li><a href="#">学习环境</a></li>
        <li><a href="#">宝宝园地</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐动态</a></li>
        <li><a href="#">最新动态</a></li>
        <li><a href="#">优惠活动</a></li>
        <li><a href="#">精彩回眸</a></li>
        <li><a href="#">精彩瞬间</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">招商加盟</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">合作申请</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#"> 联系我们</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">门店查询</a></li>
        <li><a href="#">免费试听</a></li>
      </ul>
      <ul>
        <li class="t c"><a href="#">爱乐在线</a></li>
        <li> <a href="#"><img alt="" src="image/footer_logo1.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo2.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo3.png" /></a> </li>
      </ul>
      <div class="consult">
        <div class="box"> <a href="#" class="first"> <img alt="" src="image/footer_logo4.png" /> </a> <a href="#"> <img alt="" src="image/footer_logo5.png" /> </a> </div>
        <h2>400-688-2011</h2>
      </div>
      <div class="ewm"> <img alt="" src="image/footer_logo6.png" /> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="block">
      <div class="copy">Copyright Reserved © 2016 爱乐国际 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京IPC备10032270号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.ilovegym.com</div>
      <div class="fotlogo"> <a href="#" class="a1"></a> <a href="#" class="a2"></a> <a href="#" class="a3"></a> <a href="#" class="a4"></a> </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(".classify3 .focus .frame .child").mChange({
	auto  : 0,       //是否自动播放,1为自动,0为手动
	arrow : 1,       //是否反转箭头,1为点击左侧向右滚动,0则相反
	speed : 500,     //效果速度,大于0.3
	time  : 5000,    //周期时间，大于1
	nav   : null,    //导航
	nave  : "click", //导航事件
	navs  : 0,  //导航滚动
	prev  : $(".classify3 .focus .arrow_l"),    //上一个
	next  : $(".classify3 .focus .arrow_r"),    //下一个
	cycle : 1,       //是否循环
	mousestop : 0,   //是否鼠标划入停止
	mousewheel : 0,  //是否开启滚轮事件
	animates : function(idx){} //自定义函数
});
$(function(){
	if(!$(".classify1").hasClass("show")){
		$(".classify1").addClass("show");
	};
	
	$('.classify2 .text .btn').hover(function(){
		$(this).parent().find('.img').addClass('hover');
	},function(){
		$(this).parent().find('.img').removeClass('hover');
	});
});

$(window).scroll(function(){
	if(scrollact(".classify3",100)){
		if(!$(".classify3").hasClass("show")){
			$(".classify3").addClass("show");
		}
	}

});


if(!isCss3("transition")){
	
}
</script>