<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="author" content="www.fractal-technology.com">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>招商加盟</title>
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/fun.js"></script>
<script src="js/global.js"></script>
<script src="js/plus/jquery.mScroll.js"></script>
<style>
body{padding-bottom:80px;}
</style>
</head>

<body>
<div class="nav_float"><span class="m1"></span>
  <ul>
    <li class="a1"><a href="#"><img alt="" src="image/png15.png">免费试听</a></li>
    <li class="a2"><a href="#"><img alt="" src="image/png16.png">课程咨询</a></li>
    <li class="a3"><a href="#"><img alt="" src="image/png17.png">加盟咨询</a></li>
    <li class="a4"><a href="#"><img alt="" src="image/png18.png">关注微信</a></li>
    <li class="a5"><a href="#"><img alt="" src="image/png19.png">查找爱乐</a></li>
    <li class="gotop"><a href="#"><img alt="" src="image/png20.png">返回顶部</a></li>
  </ul><span class="m2"></span>
</div>
<div class="head">
  <div class="block">爱乐乐享 爱乐国际早教欢迎您！<a href="#" class="map">查找身边的爱乐</a> </div>
</div>
<div class="header">
  <div class="nav_bg"></div>
  <div class="nav_bg2"></div>
  <div class="block"> <a href="#" class="logo"></a>
    <div class="tel">400-688-2011</div>
    <div class="search">
      <div class="box">
        <div class="inner"><input type="search" class="kw" placeholder="请输入关键词"><input type="button" class="ok"></div>
      </div>
    </div>
    <div class="nav_main">
      <div class="item"> <a href="#" class="a">首页</a> </div>
      <div class="item"> <a href="#" class="a">爱乐乐享</a> </div>
      <div class="item"> <a href="#" class="a">爱乐课程</a> </div>
      <div class="item"> <a href="#" class="a">爱乐动态</a> </div>
      <div class="item"> <a href="#" class="a">招商加盟</a> </div>
      <div class="item"> <a href="#" class="a">爱乐商城</a> </div>
      <div class="item"> <a href="#" class="a">联系我们</a> </div>
    </div>
    <div class="nav_child">
      <div class="item"></div>
      <div class="item"> <a href="#">公司简介</a> <a href="#">教学理念</a> <a href="#">资质荣誉</a> <a href="#">课程分类</a> </div>
      <div class="item"></div>
      <div class="item"> <a href="#">最新动态</a> <a href="#">优惠活动</a> <a href="#">精彩回眸</a> <a href="#">精彩瞬间</a> </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"> <a href="#">联系方式</a> <a href="#">加入我们</a> <a href="#">门店查询</a> <a href="#">免费试听</a> </div>
    </div>
    <div class="nav_child2">
      <div class="item"><a href="#"><img alt="" src="image/png3.png"><span>英语课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png4.png"><span>艺术课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png5.png"><span>厨趣课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png6.png"><span>水育课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png7.png"><span>Kindermusik</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png8.png"><span>体适能</span></a></div>
    </div>
  </div>
</div>
<div class="merchants1">
  <div class="pic"><img alt="" src="image/pic2.jpg"></div>
  <div class="block">
    <div class="text">
      <div class="t1">
        <h2>ilovegym</h2>
        <h3>招商加盟</h3>
        <p>和爱乐一起，为孩子的未来撑起一片天空！</p>
      </div>
      <div class="t2">
        <h3>怎样的爱乐，等待你的加盟？</h3>
        <p>2009 年秋天，秉承着改善今天的孩子，改善明天的世界之理念, 爱乐I LoveGym® 进入了中国，并引进了Kindermusik® 这一全球最富盛名的儿童早期音乐教育课程。Kindermusik® 的历史可以追溯到上个世纪60 年代的原西德地区，是音乐，运动，英语早教的全球领跑者。 Kindermusik® 有近半个世纪的发展历史， 教育网络遍及全世界70 多个国家，是全球最受父母信赖的早教品牌。99% 参加过Kindermusik® 课程的家长都会向朋友大力推荐。Kindermusik® 为0-7 岁的儿童及家长提供全英文专业系列课程，多次获得《美国教师推荐奖》,《 全美亲子中心最佳认可奖》,《全美家庭教育精品奖》,《美国育儿媒体奖》,《美国创意儿童杂志奖》等。</p>
      </div>
      <div class="t3">
        <div class="d1">
          <h3>70<em>+</em></h3>
          <p>教育网络遍及全世界<br>70个多个国家</p>
        </div>
        <div class="d2">
          <h3>99<em>%</em></h3>
          <p>99%参加过的家长都会向<br>朋友大力推荐</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="merchants2" id="p1">
  <div class="block">
    <div class="title">
      <h1>Superiority</h1>
      <h2>爱乐的优越性</h2>
      <p>领先、专业、科学、标准</p>
    </div>
    <div class="list clearfix">
      <div class="item">
        <div class="ico"><img alt="" src="image/icon2_1.png"></div>
        <h3>领先</h3>
        <h4>中国早期教育行业领导品牌</h4>
        <div class="txt">
          <p>伴随着音乐运动，伴随着娱乐成长！这就是爱乐 ，全球最受欢迎的儿童教育机构 。2009年爱乐中国成立至今在北京拥有12家、全国近50家高端豪华的早教中心 。爱乐完善和极具效果的课程体系， 先进和科学的管理模式，以及强大的品牌号召力已经使爱乐成为中国早期教育行业的领导品牌 。</p>
        </div>
      </div>
      <div class="item">
        <div class="ico"><img alt="" src="image/icon2_2.png"></div>
        <h3>专业</h3>
        <h4>拥有自主研发课程，引进权威<br>早教课程</h4>
        <div class="txt">
          <p>爱乐不仅拥有自主研发独一无二的课程而且引进了Kindermusik®和Letterland®这些遍及全球近半数的国家和地区都在使用的权威儿童早期教育课程 。 每天都有100万以上的孩子在爱乐享受着同样的教育， 保证了每一个0-6岁孩子的家庭都可以在爱乐持续体验国际上最专业、最科学、最前沿的早期教育课程。</p>
        </div>
      </div>
      <div class="item">
        <div class="ico"><img alt="" src="image/icon2_3.png"></div>
        <h3>科学</h3>
        <h4>自动化办公平台，强大管理系统<br>三位一体互联工具</h4>
        <div class="txt">
          <p>系统专业的培训体系，自动化的ＯＡ办公平台，强大的ＣＲＭ客户管理系统，中心网站、手机端网站、微信公众平台三位一体移动互联信息传播工具，使每一位运营商轻松、便捷、高效的科学管理中心。</p>
        </div>
      </div>
      <div class="item">
        <div class="ico"><img alt="" src="image/icon2_4.png"></div>
        <h3>标准</h3>
        <h4>完善的培训体系，全时段技术支持</h4>
        <div class="txt">
          <p>爱乐拥有先进完善的企业文化和培训体系，同时提供标准的选址调研手册、SI环境装修手册、VI视觉识别手册、CRM客户管理手册、PC手机微信端网络应用手册、市场拓展手册、课程咨询手册 、教学管理手册、中心服务手册，以及卫生清洁手册。并通过及时通讯工具24小时提供便捷支持，确保运营商获得最完善的支持服务。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="merchants3" id="p2"><img alt="" src="image/png22.png" class="p1">
  <div class="block">
    <div class="title">
      <h1>Superiority</h1>
      <h2>为什么选择爱乐</h2>
      <p>爱乐用事实阐述事实，爱乐—放心首选</p>
    </div>
    <div class="focus">
      <div class="frame">
        <div class="child">
          <div class="pic"><img alt="" src="image/pic3.jpg"></div>
          <div class="txt">
            <div class="inner">
              <h3><img alt="" src="image/ico4.png">北京宋先生</h3>
              <p>我长期在许昌从事房地产开发和酒店经营，平时工作特别忙，没有更多机会陪女儿。正巧爱乐早教在这里有中心，我就给女儿报了名。女儿在爱乐非常开心，我能从她身上看到进步和变化。这次我回到新乡开发新的地产项目，几乎是没有犹豫的，就直接联系了爱了总部，在自己的物业里开设了一间爱乐早教中心。一方面，我希望让女儿继续爱乐课程，继续快乐的童年；另一方面，也实现自己的再次创业的梦想。爱乐，对于我和女儿，都是一个契机。</p>
            </div>
          </div>
        </div>
        <div class="child">
          <div class="pic"><img alt="" src="image/pic3.jpg"></div>
          <div class="txt">
            <div class="inner">
              <h3><img alt="" src="image/ico4a.png">北京宋女士</h3>
              <p>我长期在许昌从事房地产开发和酒店经营，平时工作特别忙，没有更多机会陪女儿。正巧爱乐早教在这里有中心，我就给女儿报了名。女儿在爱乐非常开心，我能从她身上看到进步和变化。这次我回到新乡开发新的地产项目，几乎是没有犹豫的，就直接联系了爱了总部，在自己的物业里开设了一间爱乐早教中心。一方面，我希望让女儿继续爱乐课程，继续快乐的童年；另一方面，也实现自己的再次创业的梦想。爱乐，对于我和女儿，都是一个契机。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nav"><span class="prev"></span><span class="index">1</span><em></em><span class="count">2</span><span class="next"></span></div>
    </div>
  </div>
</div>
<div class="merchants4" id="p3"><img alt="" src="image/png23.png" class="p1">
  <div class="block">
    <div class="title">
      <h1>profession</h1>
      <h2>爱乐的支持</h2>
      <p>爱乐保证每一个环节都是“专业”的</p>
    </div>
    <div class="list">
      <div class="item d1">
        <h3><span>前期准备</span></h3>
        <ul>
          <li>物业支持&nbsp;&nbsp;&nbsp;&nbsp;选址&nbsp;&nbsp;&nbsp;&nbsp;设计&nbsp;&nbsp;&nbsp;&nbsp;采购<br>装修培训&nbsp;&nbsp;&nbsp;&nbsp;验收</li>
        </ul>
      </div>
      <div class="item d2">
        <h3><span>开业前</span></h3>
        <ul>
          <li>运营支持&nbsp;&nbsp;&nbsp;&nbsp;开业策划&nbsp;&nbsp;&nbsp;&nbsp;品牌推广&nbsp;&nbsp;&nbsp;&nbsp;到店支持&nbsp;&nbsp;&nbsp;&nbsp;CRM系统<br>OA办公系统</li>
          <li>网络支持&nbsp;&nbsp;&nbsp;&nbsp;中心网站&nbsp;&nbsp;&nbsp;&nbsp;手机端&nbsp;&nbsp;&nbsp;&nbsp;微信服务号&nbsp;&nbsp;&nbsp;&nbsp;品牌推广</li>
          <li>标准手册&nbsp;&nbsp;&nbsp;&nbsp;选址手册&nbsp;&nbsp;&nbsp;&nbsp;装修手册&nbsp;&nbsp;&nbsp;&nbsp;招聘手册&nbsp;&nbsp;&nbsp;&nbsp;VI手册<br>后期运营&nbsp;&nbsp;&nbsp;&nbsp;专家讲座&nbsp;&nbsp;&nbsp;&nbsp;远程教育&nbsp;&nbsp;&nbsp;&nbsp;教育培训&nbsp;&nbsp;&nbsp;&nbsp;品牌推广<br>管理服务手册&nbsp;&nbsp;&nbsp;&nbsp;升级支持&nbsp;&nbsp;&nbsp;&nbsp;课程升级&nbsp;&nbsp;&nbsp;&nbsp;网站升级&nbsp;&nbsp;&nbsp;&nbsp;品牌推广升级<br>教育服务手册&nbsp;&nbsp;&nbsp;&nbsp;人力资源手册&nbsp;&nbsp;&nbsp;&nbsp;市场管理手册&nbsp;&nbsp;&nbsp;&nbsp;岗位绩效手册<br>销售服务手册&nbsp;&nbsp;&nbsp;&nbsp;全年活动手册&nbsp;&nbsp;&nbsp;&nbsp;日常督导</li>
        </ul>
      </div>
      <div class="item d3">
        <h3><span>开业后</span></h3>
        <ul>
          <li>后期运营&nbsp;&nbsp;&nbsp;&nbsp;专家讲座&nbsp;&nbsp;&nbsp;&nbsp;远程教育<br>教育培训&nbsp;&nbsp;&nbsp;&nbsp;品牌推广&nbsp;&nbsp;&nbsp;&nbsp;日常督导<br>加盟商会议</li>
          <li>升级支持&nbsp;&nbsp;&nbsp;&nbsp;课程升级&nbsp;&nbsp;&nbsp;&nbsp;网站升级<br>品牌推广升级&nbsp;&nbsp;&nbsp;&nbsp;管理系统升级</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="merchants5" id="p4">
  <div class="svg">
    <img alt="" src="image/png25.png" class="iepic">
	<svg version="1.1" id="path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1920" style="enable-background:new 0 0 1920 1920;" xml:space="preserve">
      <path id="XMLID_3_" class="st0" stroke-linecap="round" d="M1211.3,109h116.3c0,0,128.3,5.3,146.3,142c13.7,137-131.3,167.7-131.3,167.7L465,420
        c0,0-135.3,8.3-147.7,151c0,144.7,147.7,160.3,147.7,160.3h296h567.7c0,0,128.5-1,147.2,152c0.3,1.9,9.4,129.2-143.2,158.7
        c-155.7,0-869.2,0-869.2,0S328,1050,315,1194c2.5,144,153,160,153,160h851.5c0,0,139.5-6.5,154.5,153c7,135-128.7,157.5-138.5,157.5
        s-177.7-0.7-199,0c-25,0.3-68.8,5.4-105.4,30.6c-32.8,19.9-51.1,51.4-51.1,51.4s-19.7,40.2,10.5,61.5c32,17,47.5-10.5,47.5-10.5
        s7-17.1-5-31.9s-37-6.3-37.1,9c0.1,12.2,5.3,15.5,14.5,16c10.4,0.2,11.1-6.9,11.1-6.9"/>
    </svg>
  </div>
  <div class="block">
    <div class="top">
      <h3>还在等什么？快来加盟爱乐吧！</h3>
      <h4>400-688-2011</h4>
      <div class="btns"><a href="#"><span><img alt="" src="image/ico1.png">申请加盟</span></a><a href="#"><span><img alt="" src="image/ico2.png">加盟咨询</span></a><i></i></div>
    </div>
    <div class="title">
      <h1>Joining process</h1>
      <h2>加盟爱乐的流程</h2>
      <p>一目了然的加盟流程，让加盟更轻松</p>
    </div>    
    <div class="step">
      <div class="list">
        <div class="d">
          <div class="t"><img alt="" src="image/icon3_1.png" class="a1"><img alt="" src="image/icon3_2.png" class="a2">
            <h3>STEP 1</h3>
            <h4>递交意向，前期洽谈</h4>
          </div>
          <ul>
            <li>初步咨询和了解爱乐的背景和未来发展，获悉加盟爱乐的必要条件</li>
            <li>申请人填写“加盟意向表”，提供初步的个人背景资料和财务状况</li>
            <li>爱乐邀请申请人对爱乐国际早教中心进行考察，并来总部参观</li>
            <li>洽谈加盟条款 ，签署加盟意向协议，支付加盟意向金</li>
            <li>爱乐向申请人提供选址和招聘培训，并提供中心选址和招聘手册</li>
          </ul>
        </div>
        <div class="d">
          <div class="t"><img alt="" src="image/icon3_3.png" class="a1"><img alt="" src="image/icon3_4.png" class="a2">
            <h3>STEP 2</h3>
            <h4>递交意向，前期洽谈</h4>
          </div>
          <ul>
            <li>申请人提供3-4个中心选址，爱乐派出专业人士去实地进行考察和审核，确定最佳中心选址</li>
            <li>确定中心选址后申请人与爱乐签署正式加盟协议，成为爱乐加盟商；</li>
            <li>加盟商签署房屋租赁或购买协议后开始招聘，爱乐协助加盟商进行面试，并提供全套人力资源手册</li>
            <li>爱乐向加盟商提供中心全套装修设计方案和图纸，及标准装修手册</li>
          </ul>
        </div>
        <div class="d">
          <div class="t"><img alt="" src="image/icon3_5.png" class="a1"><img alt="" src="image/icon3_6.png" class="a2">
            <h3>STEP 3</h3>
            <h4>中心装修，员工培训</h4>
          </div>
          <ul style="margin-top:-20px;">
            <li>加盟商根据装修设计图纸开始装修，爱乐派出装修设计师现场指导</li>
            <li>加盟商向爱乐订购五大类课程全套教具，中心开业必备宣传品；</li>
            <li>订货周期为中心开业前两个月,爱乐向加盟商提供教学设备清单，中心开业必备宣传品清单</li>
            <li>加盟中心总监带领中心各岗位员工来到爱乐北京总部开始接受培训</li>
            <li>培训期间爱乐向中心总监提供：爱乐企业VI光盘、爱乐FTP文件共享空间用户名密码、企业邮箱、中心服务管理手册、中心销售管理手册、中心教学管理手册、中心市场开发手册、中心卫生清洁手册</li>
          </ul>
        </div>
        <div class="d">
          <div class="t"><img alt="" src="image/icon3_7.png" class="a1"><img alt="" src="image/icon3_8.png" class="a2">
            <h3>STEP 4</h3>
            <h4>开业筹备，运营支持</h4>
          </div>
          <ul>
            <li>爱乐给中心提供统一的CRM客户管理系统、OA办公系统；向中心配送教学设备、宣传品；中心查收、清点</li>
            <li>培训完成后中心总监带领中心员工开展品牌推广、市场宣传活动、建立市场合作渠道、收集潜在客户信息</li>
            <li>装修结束、消防验收、室内空气净化检测、办公用品采购、中心清洁和装饰</li>
            <li>爱乐向中心派驻高级运营顾问，支持中心开业筹备和初期运营，为期两周；中心制定价格表、促销政策，开业仪式方案，开展预售、试听课</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="merchants6" id="p5">
  <div class="block clearfix">
    <div class="left">
      <h3>爱乐经营资格要求</h3>
      <ul>
        <li><i class="i1"></i>喜欢孩子，有志于从事幼儿教育事业；</li>
        <li><i class="i2"></i>认同爱乐的教育理念和品牌定位；</li>
        <li><i class="i3"></i>有较强的投资能力和市场、销售能力；</li>
        <li><i class="i4"></i>具备一定的投资经营经验和经营管理能力；</li>
      </ul>
      <h1>还在等什么？快来加盟爱乐吧！</h1>
      <h2>400-688-2011</h2>
      <div class="btns"><a href="#" class="a1"><i></i>申请加盟</a><a href="#" class="a2"><i></i>加盟咨询</a></div>
    </div>
    <div class="right"><img alt="" src="image/pic4.jpg"></div>
  </div>
</div>
<div class="nav_bottom">
  <div class="pic"></div>
  <div class="block">
    <div class="title">
      <h1>More ilovegym</h1>
      <h2>更多爱乐</h2>
      <p>了解更多关于爱乐的内容</p>
    </div>
    <div class="list">
      <div class="item"><a href="#">
        <div class="ico1"><i></i></div>
        <h3>教育理念</h3>
        <p>Educational Ideas</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico2"><i></i></div>
        <h3>门店查询</h3>
        <p>Queries stores</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico3"><i></i></div>
        <h3>免费试听</h3>
        <p>Free Trial</p>
        <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="nav_merchants"><a href="javascript:;" class="close" onClick="$('.nav_merchants').hide();$('body').css('padding-bottom',0);"></a>
  <div class="block">
    <ul>
      <li><a href="#p1"><i><img alt="" src="image/icon1_1.png"></i>爱乐的优越性</a></li>
      <li><a href="#p2"><i><img alt="" src="image/icon1_2.png"></i>为什么选择爱乐</a></li>
      <li><a href="#p3"><i><img alt="" src="image/icon1_3.png"></i>爱乐的支持</a></li>
      <li><a href="#p4"><i><img alt="" src="image/icon1_4.png"></i>加盟爱乐的流程</a></li>
      <li><a href="#p5"><i><img alt="" src="image/icon1_5.png"></i>申请加盟</a></li>
    </ul>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <div class="block">
      <ul>
        <li class="t"><a href="#">爱乐乐享 </a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">教学理念</a></li>
        <li><a href="#">资质荣誉</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐课程</a></li>
        <li><a href="#">体适能</a></li>
        <li><a href="#">艺术课程</a></li>
        <li><a href="#">厨趣课程</a></li>
        <li><a href="#">英语课程</a></li>
        <li><a href="#">水育课程</a></li>
        <li><a href="#">Kindermusik</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">课程环境</a></li>
        <li><a href="#">教学器材</a></li>
        <li><a href="#">学习环境</a></li>
        <li><a href="#">宝宝园地</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐动态</a></li>
        <li><a href="#">最新动态</a></li>
        <li><a href="#">优惠活动</a></li>
        <li><a href="#">精彩回眸</a></li>
        <li><a href="#">精彩瞬间</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">招商加盟</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">合作申请</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#"> 联系我们</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">门店查询</a></li>
        <li><a href="#">免费试听</a></li>
      </ul>
      <ul>
        <li class="t c"><a href="#">爱乐在线</a></li>
        <li> <a href="#"><img alt="" src="image/footer_logo1.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo2.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo3.png" /></a> </li>
      </ul>
      <div class="consult">
        <div class="box"> <a href="#" class="first"> <img alt="" src="image/footer_logo4.png" /> </a> <a href="#"> <img alt="" src="image/footer_logo5.png" /> </a> </div>
        <h2>400-688-2011</h2>
      </div>
      <div class="ewm"> <img alt="" src="image/footer_logo6.png" /> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="block">
      <div class="copy">Copyright Reserved © 2016 爱乐国际 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京IPC备10032270号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.ilovegym.com</div>
      <div class="fotlogo"> <a href="#" class="a1"></a> <a href="#" class="a2"></a> <a href="#" class="a3"></a> <a href="#" class="a4"></a> </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(function(){
	setTimeout(function(){
		$(".merchants1").addClass("show");
	},100);
	$(".merchants5 .step .d:even").addClass("even");
	$(".merchants5 .step .d:odd").addClass("odd");
});

$(window).scroll(function(){
	if(scrollact(".merchants2",200)){
		if(!$(".merchants2").hasClass("show")){
			$(".merchants2").addClass("show");
		}
	}
	if(scrollact(".merchants3",200)){
		if(!$(".merchants3").hasClass("show")){
			$(".merchants3").addClass("show");
			$(".merchants3 .child:first").addClass("now");
		}
	}
	if(scrollact(".merchants4",200)){
		if(!$(".merchants4").hasClass("show")){
			$(".merchants4").addClass("show");
		}
	}
	$(".merchants5 .step .d").each(function(index, element) {
        if(scrollact($(this),-100)){
			if(!$(this).hasClass("show")){
				$(this).addClass("show");
			}
		}
    });
	if(scrollact(".merchants5 .svg",200)){
		if(!$(".merchants5 .svg").hasClass("done")){
			var h=$(window).scrollTop()-$(".merchants5 .svg").offset().top;
			h=6546-h*4;
			h=h>=0?h:0;
			$(".merchants5 .svg path").css("stroke-dashoffset",h);
			if(h<=0){
				$(".merchants5 .svg").addClass("done");
			}
		}
	}
	if(scrollact(".merchants6",0)){
		if(!$(".merchants6").hasClass("show")){
			$(".merchants6").addClass("show");
		}
	}
});

var idx=0;
$(".merchants3 .focus .count").text($(".merchants3 .focus .child").size());
$(".merchants3 .focus .prev").click(function(){
	idx--;
	if(idx<0){idx=$(".merchants3 .focus .child").size()-1}
	$(".merchants3 .focus .child").removeClass("now");
	$(".merchants3 .focus .child").eq(idx).addClass("now");
	$(".merchants3 .focus .index").text(idx+1);
});
$(".merchants3 .focus .next").click(function(){
	idx++;
	if(idx>$(".merchants3 .focus .child").size()-1){idx=0}
	$(".merchants3 .focus .child").removeClass("now");
	$(".merchants3 .focus .child").eq(idx).addClass("now");
	$(".merchants3 .focus .index").text(idx+1);
});

</script>