<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="author" content="www.fractal-technology.com">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>网店</title>
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/fun.js"></script>
<script src="js/global.js"></script>
</head>

<body>
<div class="nav_float"><span class="m1"></span>
  <ul>
    <li class="a1"><a href="#"><img alt="" src="image/png15.png">免费试听</a></li>
    <li class="a2"><a href="#"><img alt="" src="image/png16.png">课程咨询</a></li>
    <li class="a3"><a href="#"><img alt="" src="image/png17.png">加盟咨询</a></li>
    <li class="a4"><a href="#"><img alt="" src="image/png18.png">关注微信</a></li>
    <li class="a5"><a href="#"><img alt="" src="image/png19.png">查找爱乐</a></li>
    <li class="gotop"><a href="#"><img alt="" src="image/png20.png">返回顶部</a></li>
  </ul><span class="m2"></span>
</div>
<div class="head">
  <div class="block">爱乐乐享 爱乐国际早教欢迎您！<a href="#" class="map">查找身边的爱乐</a> </div>
</div>
<div class="header">
  <div class="nav_bg"></div>
  <div class="nav_bg2"></div>
  <div class="block"> <a href="#" class="logo"></a>
    <div class="tel">400-688-2011</div>
    <div class="search">
      <div class="box">
        <div class="inner"><input type="search" class="kw" placeholder="请输入关键词"><input type="button" class="ok"></div>
      </div>
    </div>
    <div class="nav_main">
      <div class="item"> <a href="#" class="a">首页</a> </div>
      <div class="item"> <a href="#" class="a">爱乐乐享</a> </div>
      <div class="item"> <a href="#" class="a">爱乐课程</a> </div>
      <div class="item"> <a href="#" class="a">爱乐动态</a> </div>
      <div class="item"> <a href="#" class="a">招商加盟</a> </div>
      <div class="item"> <a href="#" class="a">爱乐商城</a> </div>
      <div class="item"> <a href="#" class="a">联系我们</a> </div>
    </div>
    <div class="nav_child">
      <div class="item"></div>
      <div class="item"> <a href="#">公司简介</a> <a href="#">教学理念</a> <a href="#">资质荣誉</a> <a href="#">课程分类</a> </div>
      <div class="item"></div>
      <div class="item"> <a href="#">最新动态</a> <a href="#">优惠活动</a> <a href="#">精彩回眸</a> <a href="#">精彩瞬间</a> </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"> <a href="#">联系方式</a> <a href="#">加入我们</a> <a href="#">门店查询</a> <a href="#">免费试听</a> </div>
    </div>
    <div class="nav_child2">
      <div class="item"><a href="#"><img alt="" src="image/png3.png"><span>英语课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png4.png"><span>艺术课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png5.png"><span>厨趣课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png6.png"><span>水育课程</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png7.png"><span>Kindermusik</span></a></div>
      <div class="item"><a href="#"><img alt="" src="image/png8.png"><span>体适能</span></a></div>
    </div>
  </div>
</div>
<div class="shop">
  <div class="block">
    <div class="pic"><img alt="" src="image/pic33.png"></div>
    <div class="text">
      <div class="title">
        <h2>ILOVEGYM</h2>
        <h3>爱上快乐，乐享购物</h3>
      </div>
      <div class="box">
        <div class="div">
          <a href="#">
            <img src="image/c3.png">
            <h3>爱乐国际淘宝官方店</h3>
          </a>
        </div>
        <div class="div">
          <a href="#">
            <img src="image/c4.png">
            <h3>爱乐国际京东官方店</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="ewm">
      <div class="img"><img src="image/ewm.png"></div>   
      <div class="p">
        <p>扫描二维码</p>
        <p>进入爱乐国际官方微店</p>
      </div>
    </div>
  </div>
</div>
<div class="nav_bottom">
  <div class="pic"></div>
  <div class="block">
    <div class="title">
      <h1>More ilovegym</h1>
      <h2>更多爱乐</h2>
      <p>了解更多关于爱乐的内容</p>
    </div>
    <div class="list">
      <div class="item"><a href="#">
        <div class="ico1"><i></i></div>
        <h3>教育理念</h3>
        <p>Educational Ideas</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico2"><i></i></div>
        <h3>门店查询</h3>
        <p>Queries stores</p>
        <span class="arrow"></span></a>
      </div>
      <div class="item"><a href="#">
        <div class="ico3"><i></i></div>
        <h3>免费试听</h3>
        <p>Free Trial</p>
        <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <div class="block">
      <ul>
        <li class="t"><a href="#">爱乐乐享 </a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">教学理念</a></li>
        <li><a href="#">资质荣誉</a></li>
        <li><a href="#">发展历程</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐课程</a></li>
        <li><a href="#">体适能</a></li>
        <li><a href="#">艺术课程</a></li>
        <li><a href="#">厨趣课程</a></li>
        <li><a href="#">英语课程</a></li>
        <li><a href="#">水育课程</a></li>
        <li><a href="#">Kindermusik</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">课程环境</a></li>
        <li><a href="#">教学器材</a></li>
        <li><a href="#">学习环境</a></li>
        <li><a href="#">宝宝园地</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">爱乐动态</a></li>
        <li><a href="#">最新动态</a></li>
        <li><a href="#">优惠活动</a></li>
        <li><a href="#">精彩回眸</a></li>
        <li><a href="#">精彩瞬间</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#">招商加盟</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">合作申请</a></li>
      </ul>
      <ul>
        <li class="t"><a href="#"> 联系我们</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">门店查询</a></li>
        <li><a href="#">免费试听</a></li>
      </ul>
      <ul>
        <li class="t c"><a href="#">爱乐在线</a></li>
        <li> <a href="#"><img alt="" src="image/footer_logo1.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo2.png" /></a> </li>
        <li> <a href="#"><img alt="" src="image/footer_logo3.png" /></a> </li>
      </ul>
      <div class="consult">
        <div class="box"> <a href="#" class="first"> <img alt="" src="image/footer_logo4.png" /> </a> <a href="#"> <img alt="" src="image/footer_logo5.png" /> </a> </div>
        <h2>400-688-2011</h2>
      </div>
      <div class="ewm"> <img alt="" src="image/footer_logo6.png" /> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="block">
      <div class="copy">Copyright Reserved © 2016 爱乐国际 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京IPC备10032270号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.ilovegym.com</div>
      <div class="fotlogo"> <a href="#" class="a1"></a> <a href="#" class="a2"></a> <a href="#" class="a3"></a> <a href="#" class="a4"></a> </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(function(){
	if(!$(".shop").hasClass("show")){
		$(".shop").addClass("show");
	}
});

$(window).scroll(function(){
	/*if(scrollact(".contact2",100)){
		if(!$(".store1").hasClass("show")){
			$(".contact2").addClass("show");
		}
	}*/

});


if(!isCss3("transition")){
	
}
</script>